@media (max-width: 1500px) {
  .header-aside__main-title{
    margin: 20px 0;
  }
  .aside-content__title{
    display: none;
  }
  .social-link{
    width: 30px;
    height: 30px;
    margin: 0 3px;
  }
  .face-link{
    width: 32px;
    height: 40px;
    margin-top: -5px
  }
  .aside-content{
    padding: 40px 20px 10px;
  }
  .aside-content__contact{
    padding: 20px;
  }
}
@media (max-width: 1350px) {
  .header__inner{
    flex-direction: column;
  }
  .aside-left__content{
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:after{
      content: '';
      background: linear-gradient(90deg,hsla(0,0%,100%,0) 0, hsla(0, 0%, 100%, 0.5) 50%,hsla(0,0%,100%,0));
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .aside-content{
    &:after{
      display: none;
    }
  }
  .aside-content__contact{
    padding: 20px 10px 15px;
    width: 180px;
    .copy-mail{
      display: none;
    }
  }
  .aside-content__contact a:hover{
    transform: scale(1);
  }
  .header-aside__left{
    width: 100%;
    height: 100%;
  }
  .avatar-img{
    display: none;
  }
  .aside-left__top{
    display: none;
  }
  .header-aside__main{
    width: 100%;
  }
}
@media (max-width: 800px) {
  //.slide-item{
  //  width: 340px !important;
  //}
  .swiper-slide{
    width: 280px !important;
  }
  //.slide-item__teg{
  //  font-size: 14px;
  //}
  .slide-item:hover .slide-item__teg{
    font-size: 16px ;
  }
  .slide-item:hover .slide-item__text{
    font-size: 25px;
  }
}
@media (max-width: 550px) {
  body{
    ::-webkit-scrollbar {
      height: 5px;
      width: 100%;
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 9em;
      box-shadow: inset 1px 1px 10px #f3faf7;
    }
  }
  .header-aside__main-title{
    margin: 20px 0 0;
  }
  .header-aside__main-teg{
    &:after{
      display: none;
    }
  }
  .wrapper-list{
    overflow-x: scroll;
  }
  .header-aside__main-teg{
    justify-content: flex-start;
    width: 550px;
  }
  .swiper-container{
    padding: 20px 20px 100px;
  }
  .header-aside__main-title{
    font-size: 20px ;
  }
  .wrapper-job:before, .wrapper-job:after{
    bottom: 0;
  }
  .wrapper-job:before {
    top: 59px;
  }
  .slide-item__set .slide-item__teg-set{
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .aside-content {
    padding: 40px 10px 10px;
  }
  .social-link{
    width: 25px;
    height: 25px;
  }
  .face-link{
    width: 30px;
    height: 35px;
  }
  .aside-content__contact{
    width: 164px;
  }
}
