@import "vars";
@import "global";
@import "fonts";

//start header
.header__inner{
  display: flex;
  justify-content: space-between;
}
.header-aside__left{
  width: 17%;
  height: 100vh;
  background-color: $bg;
}
.aside-left__top{
  width: 100%;
  height: 180px;
  @include bg;
}
.aside-content{
  padding: 50px 20px 20px;
  text-align: center;
  position: relative;
  &:after{
    content: '';
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0, hsla(0, 0%, 100%, 0.5) 50%,hsla(0,0%,100%,0));
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.user-img img,
.avatar-img img{
  position: absolute;
  width: 100px;
  height: 100px;
  top: -100px;
  left: 38%;
  transform: translate(-50%, 50%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.user-img img{
  left: 66%;
  top: -100px;
}
.aside-content__title{
  font-size: 28px;
  cursor: default;
  user-select: none;
  margin-bottom: 30px;
}
.aside-content__social{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-link{
  margin: 0 10px 10px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s;
  &:hover{
    transform: scale(1.2);
  }
}
.vk-link{
  width: 50px;
  height: 50px;
}
.face-link{
  margin-left: 0;
  border-radius: 16px;
  width: 64px;
  height: 50px;
}
.git-link,
.habr-link{
  border-radius: 10px;
}
.aside-content__contact{
  padding: 40px 20px;
  text-align: center;
  a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    background-color: #121212;
    border: 1px solid #c4c4c4;
    display: block;
    transition: all .3s ease-out;
    margin: 10px 0 0;
    outline: none;
    &:hover{
      transform: scale(1.1);
      transition: all .3s ease-out;
    }
  }
}
.aside-content__contact{
  position: relative;
    &:hover{
      .copy-mail{
        visibility: visible;
        opacity: 1;
      }
    }
}
#email{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border-radius: 16px;
  background-color: #121212;
  border: 1px solid #c4c4c4;
  display: block;
  transition: all .3s ease-out;
}
.copy-mail{
  cursor: default;
  visibility: hidden;
  width: 190px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -27px;
  left: 50%;
  margin-left: -96px;
  opacity: 0;
  transition: all 0.3s;
  &:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}
.header-aside__main{
  width: 83%;
}
.header-aside__main-title {
  font-size: 34px;
  padding: 15px;
  text-align: center;
  position: relative;
  cursor: default;
  margin: 30px 0;
  user-select: none;
}
.header-aside__main-teg{
  position: relative;
  padding: 20px 0;
  display: flex;
  user-select: none;
  justify-content: center;
  li{
    transition: all .4s ease-out;
    margin: 0 10px;
    color: #03a9f4;
    cursor: default;
  }
  &:before,
  &:after {
    content: '';
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.5) 50%, hsla(0, 0%, 100%, 0));
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:before{
    top: 0;
  }
}
.wrapper-job{
  position: relative;
  &:before,
  &:after {
    content: '';
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.5) 50%, hsla(0, 0%, 100%, 0));
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
  }
  &:before{
    top: 100px;
  }
}
.swiper-container{
  padding: 50px 20px 100px;
  height: 530px;
}
.slide-item{
  border-radius: 6px;
  min-height: 350px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #242424;
  transition: all .3s;
  -webkit-box-reflect: below 1px linear-gradient(transparent 65%, #0009);
  &:before{
    position: absolute;
    content: '';
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    height: 100%;
    transition: .5s;
    z-index: -1;
  }
  &:hover {
    border-radius: 6px 6px 0 0;
    &:before{
      top: 0;
      z-index: -1;
    }
    .slide-item__text{
      font-size: 30px;
    }
    .slide-item__teg{
      color: #fff;
      font-size: 25px;
    }
    .slide-item__img{
      width: 100%;
      border-radius: 0;
    }
  }
  span{
    display: block;
    padding-top: 20px;
    z-index: 5;
  }
}
.slide-item__img{
  width: 90%;
  height: 200px;
  border-radius: 20px;
  @include bg;
  z-index: 5;
  transition: all .55s ease-out;
}
.slide-item__set{
  width: 100%;
  @include bg;
  position: relative;
  &:before{
    display: none;
  }
  .slide-item__teg-set{
    position: absolute;
    color: #fff;
    width: 100%;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    cursor: default;
  }
}
.slide-item__text{
  font-size: 24px;
  padding: 20px 0;
  color: #fff;
  transition: all .3s ease-out;
}
.slide-item__teg{
  color: #03a9f4;
  padding-bottom: 10px;
  transition: all .3s ease-out;
  p{
    display: inline-block;
    margin: 0 5px;
  }
}
//.main-content{
//  width: 100%;
//  display: flex;
//  justify-content: space-between;
//  padding: 0 30px;
//}
//.aside-main__inner{
//  width: 31.5%;
//  height: 100%;
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//  transform-style: preserve-3d;
//  perspective: 1500px;
//}
//.aside-main__inner-item{
//  width: 500px;
//  height: 300px;
//  margin: 50px auto 0;
//  transform: rotateY(-20deg);
//  transition: all .3s ease-out;
//  position: relative;
//  border-radius: 20px;
//  &:hover{
//    transform: rotateY(0deg);
//    border-radius: 20px ;
//    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.28);
//    border-color: rgba(223,225,229,0);
//    .item-img img{
//      border-radius: 20px 20px 0 0;
//      height: 80%;
//    }
//    .item-text{
//      opacity: 1;
//      visibility: visible;
//      border-radius: 0 0 20px 20px;
//    }
//  }
//}
//.item-img img{
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  @include bg;
//  transition: all .3s ease-out;
//}
//.item-text{
//  opacity: 0;
//  visibility: hidden;
//  transition: all .3s ease-out;
//  position: absolute;
//  text-align: center;
//  left: 50%;
//  width: 100%;
//  height: 60px;
//  background-color: #0b0b0b;
//  bottom: 30px;
//  padding-top: 10px;
//  color: #fff;
//  transform: translate(-50%, 50%);
//}

//end header
//start

//end
//start

@import "media";

