$text: #A5A7C5;
$fil: #F067FF;
$bl: #9F78FF;
$pink: #4C1E51;
$bg: #2D0A31;

@mixin f500{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
@mixin f700{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}