@import "vars";
@import "global";
@import "fonts";

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  box-shadow: 1px 1px 12px 0px rgba(145, 145, 145, 0.75);
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-out;
  &.done{
    opacity: 0;
    visibility: hidden;
  }
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    border-top: 2px solid $fil;
    animation: .7s spin infinite linear;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  @keyframes spin {
    from{
      transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
}
.btn__to-top{
  position: fixed;
  display: none;
  right: 40px;
  bottom: 40px;
  width: 50px;
  z-index: 200;
  height: 50px;
  border-radius: 50%;
  background-color: $fil;
  border:none;
  outline: none;
  &:before{
    content: "\f077";
    color: #fff;
    font-family: 'icomoon';
    font-size: 25px;
    position: absolute;
    top: 6px;
    left: 13px;
  }
}
//start header
.header{
  position: static;
  transition: all 1s;
}
.header.fixed{
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $pink;
  transition: all 1s;
  .header-logo:before{
    display: none;
  }
}
.header__inner{
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header-logo{
  position: relative;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    background-image: url(../images/content/top-left-shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 343px;
    left: -53px;
    top: -147px;
    height: 370px;
  }
}
.header__inner-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list{
  z-index: 50;
  li{
    display: inline-block;
    &:hover{
      a{
        color: #F067FF;
        &:after{
          left: 0;
          width: 100%;
          right: auto;
        }
      }
    }
  }
  span,a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin: 0 10px;
    padding: 39px 2px;
    position: relative;
    font-size: 14px;
    transition: .4s;
    &:after{
      transition: .4s;
      position: absolute;
      content: '';
      background-color: #F067FF;
      height: 1px;
      bottom: 35px;
      width: 0;
      right: 5px;
      left: -5px;
    }
  }
  span{
    color: #F067FF;
    &:after{
      left: 0;
      width: 100%;
      right: auto;
    }
  }
}
.header-list__down{
  position: relative;
  &:hover {
    .header-down{
      opacity: 1;
      height: auto;
      padding: 10px 0;
    }
  }
}
.header-down{
  transition: all .3s ease-out;
  opacity: 0;
  overflow: hidden;
  height: 0;
  padding: 0;
  width: 170px;
  z-index: 10;
  background-color: #a077ff;
  background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
  position: absolute;
  li{
    width: 100%;
  }
  a{
    margin: 0;
    color: #fff !important;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    transition: all .3s ease-out;
    &:after{
      display: none;
    }
    &:hover{
      margin: 0 10px;
    }
  }
}
.header__box-btn{
  a{
    transition: all .3s ease-out;
    text-transform: uppercase;
  }
}
.buttons{
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 14px;
  border: none;
  background-color: #a077ff;
  background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
  text-transform: uppercase;
  @include f500;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-out;
  &:hover{
    background-color: #a077ff;
    background: linear-gradient(to bottom, #926ceb 0%, #e05eee 100%);
    transition: all .3s ease-out;
    box-shadow: 0px 1px 31px 1px #a94acc;
  }
}
.header__box-btn{
  padding: 0 20px;
  a{
    margin: 0 10px;
  }
}
.header__menu-btn{
  position: relative;
  width: 50px;
  height: 50px;
  display:none;
  &:before{
    position: absolute;
    content: "\f0c9";
    font-size: 30px;
    color: #ececec;
    font-family: 'icomoon';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
//end header
//start description
.description{
  padding: 0 0 70px;
}
.description__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 620px;
}
.description__inner-info{
  max-width: 500px;
  width: 100%;
  margin-right: 30px;
}
.description__inner-img{
  img{
    width: 100%;
    height: 100%;
  }
}

.description{
  .description-info__text,p{
    color: #A5A7C5;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .description-info__title,h1,h2,h3,h4,h5,h6{
    color: #fff;
    font-size: 65px ;
    @include f700;
    margin-bottom: 25px;
  }
 .description-info__tag{
    color: #9F78FF;
    margin-bottom: 15px;
  }
}
//end description
//start search-domain
.search-domain{
  padding: 70px 0 130px;
}
.search-domain__inner{
  display: flex;
  justify-content: space-between;
}
.search__inner-info{
  max-width: 400px;
  width: 100%;
  margin-right: 30px;
  .search-info__title,h1,h2,h3,h4,h5,h6{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    @include f500;
  }
  .search-info__text,p{
    font-size: 14px;
    max-width: 370px;
    width: 100%;
  }
}
.search__inner-panel{
  max-width: 770px;
  width: 100%;
  form{
    position: relative;
  }
  label{
    position: relative;
    &:before{
      position: absolute;
      top: -13px;
      z-index: 10;
      left: 16px;
      font-size: 42px;
      color: #c4c4c4;
      font-family: 'icomoon';
    }
    input{
      width: 100%;
      font-size: 18px;
      border-radius: 30px;
      border: none;
      height: 65px;
      color: #777;
      outline: none;
      padding: 9px 33px 9px 76px;
      position: relative;
      &::placeholder{
        font-size: 18px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
      }
    }
  }
  button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $fil;
    position: absolute;
    right: 13px;
    top: 12%;
    border: none;
    &:before{
      font-size: 20px;
      color: #fff;
      font-family: 'icomoon';
    }
  }
}
.search__inner-panel__down{
  text-align: center;
  margin-top: 20px;
  align-items: center;
  .search-panel__down-item{
    font-size: 20px;
    display: inline-block;
    color: #ff7474;
    & + .search-panel__down-item{
      padding-left: 7px;
    }
    span{
      color: #fff;
      font-size: 14px;
      margin-left: 5px;
      padding-right: 14px;
      border-right: 1px solid $fil;
    }
  }
  .search-it2{
    color: #ffdd74;
  }
  .search-it3{
    color: #74ff9f;
  }
  .search-it4{
    color: $bl;
  }
}
//end search-domain
//start possibilities
.possibilities{
  padding: 70px 0;
}
.possibilities-title{
  font-size: 44px;
  @include f500;
  margin: 0 auto 40px;
  text-align: center;
  color: #fff;
}
.possibilities__inner{
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.possibilities-item{
  max-width: 370px;
  margin: 0 10px 50px 0;
  width: 100%;
  .possibilities-item__text,p{
    font-size: 17px;
  }
}
.possibilities-item__img{
  margin-bottom: 20px;
  img{
    width: 55px;
    height: 55px;
  }
}
.possibilities-item__title{
  font-size: 24px;
  @include f500;
  margin-bottom: 20px;
  color: #fff;
}
// end possibilities
//start cart
.cart{
  padding: 200px 0 70px;
  position: relative;
  &:after{
    position: absolute;
    top: 53%;
    content: "";
    border-top: 72px solid #2D0A31;
    border-left: 1920px solid #fff;
    border-bottom: 520px solid #fff;
    left: 0;
    z-index: -11;
    right: 0;
  }
}
.cart__inner{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.possibilities-title__text{
  max-width: 770px  ;
  width: 100%;
  margin: 0 auto 80px;
  color: #7a8290;
  text-align: center;
}
.cart-item{
  background-color: #fff;
  border-radius: 8px;
  max-width: 360px;
  width: 100%;
  margin: 0 10px 40px;
  box-shadow: 0 8px 26px rgba(67,40,124,0.08);
  padding: 70px 0;
  text-align: center;
  &:hover{
    .cart-btn{
      background-color: #a077ff;
      background: linear-gradient(to bottom, #926ceb 0%, #e05eee 100%);
      color: #fff;
    }
  }
}
.cart-item__header{
  border-bottom: 1px solid #ececec;
  .cart-item__header-img{
    margin-bottom: 20px;
    img{
      width: 67px;
      height: 55px;
    }
  }
  .cart-item__header-title,span{
    color: #000;
    font-size: 24px;
    @include f500;
    margin-bottom: 20px;
  }
  .cart-item__header-ps,p{
    color: #3B4855;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .cart-item__header{
    color: #000;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 30px;
    span{
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.cart-item__bottom{
  margin-top: 30px;
  .cart-list{
    li{
      color: #717081;
      margin-bottom: 20px;
    }
  }
}
.cart-btn{
  text-transform: capitalize;
  color: $fil;
  padding: 10px 75px;
  border-radius: 24px;
  border: 1px solid $fil;
  margin-top: 20px;
}
// end cart
//start securities
.securities{
  background-color: #fff;
  padding: 70px 0;
}
.securities-item{
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.securities-item__rew{
  flex-direction: row-reverse;
  .securities-item__info{
    margin-left: 0;
    margin-right: 40px;
  }
}
.securities-item__img{
  max-width: 470px;
  max-height: 530px;
  img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.securities-item__info{
  max-width: 630px;
  width: 100%;
  margin-left: 40px;
  .securities-item__info-text,p{
    color: #646D77;
    margin-bottom: 40px;
  }
}
.securities-item__info-title{
  font-size: 44px;
  color: #4C1E51;
  margin-bottom: 30px;
}
.securities-list{
  li{
    color: #646D77;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
    &:before{
      color: #c4c4c4;
      position: absolute;
      left: 164px;
      top: 2px;
    }
    &:last-child{
      &:before{
        position: absolute;
        left: 210px;
        top: 2px;
      }
    }
  }
}
.securities-link{
  margin-top: 6px;
}
// end securities
//start questions
.questions{
  padding: 170px 0 70px;
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    content: "";
    border-left: 100px solid #fff;
    border-top: 100px solid #fff;
    border-left: 2000px solid #2D0A31;
    left: 0;
    z-index: -11;
    right: 0;
  }
}
.questions__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.questions-item{
  max-width: 520px;
  width: 100%;
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
  span{
    position: absolute;
    color: #fff;
    @include f500;
    font-size: 20px;
    left: 0;
  }
  .questions-item__text,p{
    font-size: 15px;
  }
}
.questions-item__title{
  color: #fff;
  @include f500;
  margin-bottom: 20px;
  font-size: 20px;
  align-items: center;
}
.questions-link{
  text-align: center;
  margin: 30px auto 0;
  a{
    text-transform: capitalize;
  }
}
// end questions
//start slider
.slider{
  padding: 100px 0 130px;
}
.swiper-container{
  max-width: 1000px;
  width: 100%;
  padding: 80px 0 30px;
  position: relative;
}
.swiper-slide__box{
  padding: 70px 100px;
  text-align: center;
}
.swiper-slide{
  background-color: $pink;
  border-radius: 30px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-image: url(../images/content/quotes-sign.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -26%;
    right: 44%;
    overflow: visible;
    z-index: 20;
    width: 127px;
    height: 109px;
  }
  .swiper-slide__text,p{
    color: #fff;
    margin-bottom: 50px;
  }
  .swiper-slide__author{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    .swiper-slide__author-img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 20px;
      }
    .swiper-slide__author-name{
      white-space: pre;
      margin-top: 3px;
      text-align: left;
      &>span{
        display: block;
        font-size: 14px;
        color: #A5A7C5;
        margin-top: 3px;
      }
    }
  }
}
.slide-box{
  position: relative;
}
.swiper-button-next, .swiper-button-prev {
  width: 40px;
  position: absolute;
  color: #777777;
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  top: 233px;
  outline: none;
  &:after{
    font-size: 20px;
  }
}
.swiper-button-next{
  right: 90px;
}
.swiper-button-prev{
  left: 90px;
}
.swiper-button-next:after{
  margin-left: 2px;
}
.swiper-button-prev:after{
  margin-right: 2px;
}
// end slider
//start footer
.footer{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 0;
}
.footer__inner{
  display: flex;

  justify-content: space-between;
  padding-bottom: 50px;
}
.footer-item{
  max-width: 270px;
  text-align: center;
  width: 100%;
  margin-right: 20px;
  .footer-item__text,p{
    color: #C2C5DB;
    margin-bottom: 30px;
  }
}
.footer-logo{
  margin-bottom: 20px;
  margin-left: -17px;
}
.footer-form{
  margin-bottom: 30px;
  input{
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid #695CAE;
    border-radius: 14px;
    color: #fff;
    background: transparent;
    text-align: center;
    margin-bottom: 20px;
    outline: none;
  }
  .footer-btn{
    width: 100%;
    padding: 10px 20px;
    border-radius: 14px;
    height: 43px;
  }
}
.footer-item__social{
  text-align: center;
  a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    margin: 0 7px;
    position: relative;
    transition: all .3s ease-out;
    &:hover{
      background-color: $fil;
      border-color: $fil;
      transform: rotateY(180deg);
    }
    &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
.footer-item__box{
  display: flex;
  max-width: 700px;
  width: 100%;
  justify-content: space-around;
}
.footer-item__col{
  max-width: 220px;
  text-align: left;
  width: 100%;
  .footer-item__col-title{
    font-size: 22px;
    color: #fff;
    @include f500;
    margin-bottom: 30px;
  }
  .footer__col-list{
    a{
      color: #C2C5DB;
      font-weight: 300;
      margin: 7px 0;
      transition: all .3s ease-out;
      &:hover{
        text-decoration: underline;
        color: $fil;
        transition: all .3s ease-out;
      }
    }
  }
}
.footer-copy{
  padding: 30px 20px;
  text-align: center;
  color: #C2C5DB;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 12px;
  .icon-heart{
    padding: 0 13px;
  }
  span{
    color: #fff;
    margin: 0 5px;
    position: relative;
    &:before{
      position: absolute;
      font-size: 20px;
      color: #fff;
      top: -1px;
      right: -1px;
    }
  }
}
// end footer
//start login
.header-login{
  position: relative;
  height: 100vh;
  width: 100%;
}
.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 480px;
  width: 100%;
  padding: 65px 45px 50px 45px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.6);
  box-shadow: 0 15px 20px rgba(0,0,0,0.2);
  border-radius: 5px;
  form{
    label{
      margin: 20px 0;
      color: #fff;
      font-size: 18px;
      @include f500;
    }
    input{
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      height: 40px;
      padding: 10px;
      margin: 10px 0 20px;
      border-bottom: 1px solid #fff;
      color: $fil;
      &::placeholder{
        color: $fil;
        font-size: 18px;
      }
    }
  }
}
.login-form__btn{
  width: 100%;
  color: #fff;
  background-color: #F067FF;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 40px;
  padding: 7px 20px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  outline: none;
}
.login-form__logo{
  img{
    width: 99px;
    height: 95px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 15px solid rgba(255,255,255,0.1);
    box-shadow: 0 15px 20px rgba(0,0,0,0.7);
    border-radius: 50%;
  }
}
.login-form__link{
  text-transform: capitalize;
  text-decoration: underline;
  color: $fil;
  display: block;
  background-color: transparent;
  margin-bottom: 15px;
}
.login-form__title{
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
// end login
//start packages
.packages-page{
  padding: 200px 0 70px;
}
// end packages
//start help
.help{
  padding: 100px 0;
  background-color: $bg;
  text-align: center;
  align-items: center;
}
.help__inner-title{
  color: #fff;
  text-transform: capitalize;
  @include f700;
  font-size: 44px;
}
.questions-help{
  background-color: #fff;
  &:before{
    display: none;
  }
}
.questions-help{
  .questions-link{
    margin: 0 auto;
    text-align: center;
    .buttons{
      margin: 0 auto;
      text-transform: lowercase;
      text-decoration: underline;
    }
  }
  .possibilities-title{
    color: $bg;
  }
  .questions-link{
    margin-top: 40px;
  }
  .questions-item{
    .questions-item__title{
      color: $bg;

    }
    span{
      color: $bg;
    }
  }
}
// end  help
//start contact us
.contact-us{
  padding: 120px 0 100px;
  background-color: #fff;
}
.contact-map{
  width: 100%;
  margin-bottom: 50px;
  iframe{
    width: 100%;
  }
}
.contact__inner-info{
  display: flex;
  justify-content: space-between;
}
.contact-title{
  width: 100%;
  font-size: 27px;
  color: #000;
  margin-bottom: 30px;
  @include f700;
}
.contact__form{
  max-width: 770px;
  width: 100%;
  margin-right: 40px;
  form>input{
    width: 100%;
  }
  textarea{
    width: 100%;
    resize: none;
    border: 1px solid #ececec;
    outline: none;
    height: 185px;
    color: #c4c4c4;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 15px;
    &::placeholder{
      color: #c4c4c4;
      font-size: 14px;
    }
  }
  label{
    display: flex;
    justify-content: space-between;
  }
  input{
    height: 48px;
    color: #c4c4c4;
    border: 1px solid #ececec;
    width: 48.5%;
    margin-bottom: 30px;
    outline: none;
    padding: 10px;
    font-size: 14px;
    &::placeholder{
      color: #c4c4c4;
      font-size: 14px;
    }
  }
}
.contact-form__btn{
  display: block;
  text-transform: uppercase;
  color: $fil;
  padding: 18px 44px;
  border: 1px solid $fil;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all .4s ease-out;
  &:hover{
    background-color: $fil;
    color: #fff;
  }
}
.contact-address__item{
  max-width: 270px  ;
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}
.contact-item__img{
  width: 44px;
  height: 41px;
  position: relative;
  margin-right: 20px;
  &:before{
    font-size: 43px;
    color: #c4c4c4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}
.contact-item__info{
  font-size: 16px;
  color: #000;
  line-height: 1.4;
  span{
    display: block;
    font-size: 14px;
    color: #8a8a8a;
  }
}
// end  contact us
//start blog-main
.blog{
  padding: 100px 0;
  background-color: #fff;
}
.blog__inner{
  display: flex;
  justify-content: space-between;
}
.blog-content{
  max-width: 770px;
  width: 100%;
  margin-right: 30px;
}
.blog-item{
  width: 100%;
  margin-bottom: 50px;
  .blog-item__data,h1,h2,h3,h4,h5,h6{
    position: absolute;
    padding: 13px 30px;
    left: 55px;
    bottom: -25px;
    font-size: 30px;
    color: #fff;
    background-color: $fil;
    border-radius: 8px;
    @include f700;
    span,p{
      font-family: 'Open Sans',sans-serif;
      font-weight: 400;
      font-size: 18px;
      display: block;
    }
  }
}
.blog-item__content{
  padding: 60px 30px 35px;
  box-shadow: 0px 10px 20px 0px rgba(221,221,221,0.3);
  .blog-item__text,p{
    color: #646D77;
    margin-bottom: 30px;
  }
}
.blog-item__links{
  align-items: center;
  .blog-item__link{
    color: #999999;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 7px;
    position: relative;
    transition: all .2s ease-out;
    &:first-child{
      &:after{
        margin-left: 10px;
        @include f500;
        content: '|';
        color: #999999 !important;
      }
    }
    &:before{
      position: absolute;
      left: 3px;
      font-size: 14px;
    }
    & + .blog-item__link{
      padding-left: 25px;
    }
    &:hover{
      color: $fil;
    }
  }
}
.blog-item__title{
  font-size: 24px ;
  color: #000;
  margin-bottom: 15px;
  transition: all .2s ease-out;
  @include f700;
  &:hover{
    color: $fil;
  }
}

.blog-item__img{
  img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  position: relative;
}

.pagination__inner{
  margin-top: 70px;
  width: 100%;
  text-align: center;
}
.pagination-list{
  align-items: center;
  li{
    outline: none;
    display: inline-block;
  }
  a,span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid #ececec;
    outline: none;
    background-color: #fff;
    color: #c4c4c4;
    position: relative;
    margin: 0 3px;
    &:focus{
      box-shadow: 0 0 0 0.2rem rgba(240,103,255,.25);
    }
    &:before{
      font-size: 14px;
    }
  }
}
.pagination-off{
  a{
    background-color: $fil;
    color: #fff;
    cursor: default;
  }
}
.blog-aside{
  max-width: 370px ;
  width: 100%;
}
.blog-aside-item{
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.blog-aside__mailing,
.blog-aside__search{
  label{
    position: relative;
    height: 50px;
    input{
      border: none;
      outline: none;
      height: 50px;
      border-color: #f0e9ff;
      font-size: 13px;
      width: 100%;
      padding: 10px 65px 10px 15px;
      color: #999999;
      &::placeholder{
        color: #999999;
      }
    }
    button{
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      background-color: $fil;
      cursor: pointer;
      outline: none;
      border: none;
      color: #fff;
      &:before{
        content: "\f002";
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'icomoon';
        font-size: 15px ;
      }
    }
  }
  .blog-search__btn{
    display: block;
    height: 50px;
    border: 1px solid $fil;
    background-color: #fff;
    padding: 18px 44px;
    text-transform: uppercase;
    width: 100%;
    color: $fil;
    cursor: pointer ;
    transition: all .2s ease-out;
    letter-spacing: 3px;
    margin-top: 15px;
    &:hover{
      background-color: $fil;
      color: #fff;
    }
  }
}

.blog-aside-item{
  .blog-aside__title{
    color: #2d2d2d;
    font-size: 20px;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}
.blog-aside__list{
  li{
    margin: 10px 0;
  }
  a{
    border-bottom: 1px solid #f0e9ff;
    width: 100%;
    transition: all 0.2s ease-out;
    padding-bottom: 12px;
    font-size: 14px;
    color: #888888;
    @include f500;
    &:hover{
      color: $fil;
    }
  }
  span,p{
    margin: 5px;
  }
}
.blog-post__item{
  display: flex;
  align-items: center;
  & + .blog-post__item{
    margin-top: 20px;
  }
}
.blog-post__item-img{
  margin-right: 20px;
  a{
    display: block;
  }
  img{
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.blog-post__info{
  span,p{
    display: block;
    font-size: 14px;
    color: #888888;
    margin-top: 7px ;
  }
}
.blog-post__info-link{
  color: #2d2d2d;
  white-space: pre;
  @include f500;
  transition: all .2s ease-out;
  &:hover{
    color: $fil;
  }
}
.blog__tags-list{
  li{
    display: inline-block;
  }
  a{
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
    &:hover{
      background-color: $fil;
      color: #fff;
    }
  }
}
.blog__list-feeds{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  a{
    height: 90px;
    margin-bottom: 8px;
    width: calc(-10px + 100px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.blog-aside__mailing{
  form input{
    padding: 10px 15px;
  }
}
// end  blog-main
//start blog-detail
.blog-detail__item .blog-item__content{
  padding: 30px 0;
  box-shadow: none;
}
.blog-detail__item .blog-item__title:hover{
  color: #000;
}
.blog-detail__text{
  p{
    margin: 30px 0;
    font-size: 15px;
    color: #646D77;
  }
}
.blog-item__text-frame{
  padding: 30px;
  background: rgba(130,139,178,0.1);
  color: #888;
  p{
    padding: 30px;
    background-color: #ffff;
    border-left: 1px solid #000;
    font-style: italic;
    margin-bottom: 0;
  }
}
.blog-detail__social-like{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px;
  border-top: 1px solid #f0e9ff;
}
.blog-social__like{
  color: #888;
  &:before{
    margin-right: 10px;
  }
}
.blog-social__link{
  li{
    display: inline-block;
    margin: 0 7px;
  }
  a{
    transition: all .2s ease-out;
    &:hover{
      &:before{
        color: $fil;
      }
    }
    &:before{
      color: #888;
    }
  }
}
.blog-social__switch{
  border-bottom: 1px solid #f0e9ff;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.blog-social__switch-item{
  max-width: 360px;
  width: 100%;
  display: flex;
  align-items: center;
}
.blog-social__switch-img{
  position: relative;
  background-color: #000;
  transition: all 1s ease-out;
  &:before{
    transition: all .2s ease-out;
    position: absolute;
    top: 49%;
    left: 48%;
    transform: translate(-50%,-50%);
    color: transparent;
    font-family: 'icomoon';
    font-size: 42px;
  }
  img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
}
.blog-social__switch-info{
  margin-left: 20px;
  span,p{
    font-size: 14px;
    color: #646D77;
    display: block;
    margin-bottom: 7px;
  }
}
.blog-switch__title{
  color: #000;
  @include f500;
  transition: all .2s ease-out;
  &:hover{
    color: $fil;
  }
}
.blog-social__switch-item{
    &:hover{
      .blog-social__switch-img:before{
        color: #fff;
        z-index: 10;
      }
      .blog-social__switch-img{
        img{
          opacity: .6;
          transition: all .2s ease-out;
        }
      }
    }
}
.blog-social__switch-item.social-next{
  display: flex;
  flex-direction: row-reverse;
  .blog-social__switch-info{
    margin-left: 0;
    margin-right: 20px;
    text-align: right;
  }
}
// end blog-detail
//start
.blog-detail__user{
  padding-bottom: 50px;
  border-bottom: 1px solid #f0e9ff;
}
.blog-user__info{
  max-width: 600px;
  width: 100%;
}
.blog-detail__user-box{
  padding: 40px 60px;
  background: #fbf9ff;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-user__img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 113px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}
.blog-user__title{
  color: #000;
  @include f500;
  margin-bottom: 5px;
}
.blog-user__text {
  color: #646D77;
}
// end blog-detail
//start
.blog-detail__users{
  padding: 30px 0 40px;
  border-bottom: 1px solid #f0e9ff;
}
.blog-user__title{
  font-size: 20px;
  color: #000;
  @include f500;
}
.blog-detail__users-item{
  display: flex;
  margin: 30px 0;
  padding-right: 20px;
}
.blog-detail__users-img{
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}
.blog-detail__users-text{
  margin-bottom: 12px;
  color: #777777;
  font-size: 15px;
}
.blog-detail__users-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  span,p{
    font-size: 14px;
    margin-right: auto;
    color: #999999;
    margin-left: 20px;
  }
}
.blog-detail__users-name{
  color: #000;
  @include f500;
  transition: all .2s ease-out;
  &:hover{
    color: $fil;
  }
}
.blog-detail__users-replay{
  text-transform: uppercase;
  color: #888;
  font-size: 13px;
  transition: all .2s ease-out;
  &:hover{
    color: $fil;
  }
}
.blog-detail__users-box{
  max-width: 650px;
  width: 100%;
}
.blog-detail__form{
  padding: 40px 0;
}
.blog-user__title{
  padding-bottom: 40px;
}
// end blog-detail
//start element
.element{
  padding: 70px 0;
  background-color: #Fff;
}
.element-common{
  margin-top: 50px;
  padding-bottom: 70px;
  border-bottom: 1px dotted #eee;
}
.element-title{
  margin-bottom: 30px;
  font-size: 24px;
  color: #4C1E51;
  @include f700;
}
.element-sample__text{
  color: #646D77;
}
.element-btn{
  padding: 20px;
  width: 100%;
}
.element-main__style{
  padding: 10px 30px;
  font-size: 14px;
  margin: 10px 10px 0 0;
  transition: all .2s ease-out;
}
.element-btn2{
  .element-main__style{
    border-radius: 3px
  }
}
.element-btn3{
  .element-main__style{
    border-radius: 8px
  }
}
.element-btn4{
  .element-main__style{
    border-radius: 20px
  }
}
.element-btn__list{
  align-items: center;
  li{
    display: inline-block;
  }
  .element-def{
    color: #415094;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
    &:hover{
      background-color: #fff;
    }
  }
  .element-prim{
    background-color: #0056b3;
    color: #fff;
    border: 1px solid #0056b3;
    &:hover{
      .element-btn__list-in{
        .element-prim{
          background-color: #fff !important;
          color: #0056b3 !important;
        }
      }
    }
  }
  .element-suc{
    background-color: #4cd3e3;
    color: #fff;
    border: 1px solid #4cd3e3;

    &:hover{
      background-color: #fff;
      color: #4cd3e3;
    }
  }
  .element-info{
    background-color: #38a4ff;
    color: #fff;
    border: 1px solid #38a4ff;

    &:hover{
      background-color: #fff;
      color: #38a4ff;
    }
  }
  .element-warn{
    background-color: #f4e700;
    color: #fff;
    border: 1px solid #f4e700;

    &:hover{
      background-color: #fff;
      color: #f4e700;
    }
  }
  .element-dang{
    background-color: #f44a40;
    color: #fff;
    border: 1px solid #f44a40;
    &:hover{
      background-color: #fff;
      color: #f44a40;
    }
  }
  .element-link{
    color: #415094;
    text-decoration: underline;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
    &:hover{
      background-color: #fff;
    }
  }
  .element-dis{
    color: #fff;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
    cursor: not-allowed;
  }
  .element-def__in{
    color: #fff;
    background-color: #fff;
    border: 1px solid #f9f9ff;
    &:hover{
      color: #415094;
      background-color: #f9f9ff;
    }
  }
  .element-prim__in{
    background-color: #fff;
    color: #0056b3;
    border: 1px solid #0056b3;
    &:hover{
      background-color: #0056b3;
      color: #fff;
    }
  }
  .element-suc__in{
    background-color: #fff;
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    &:hover{
      background-color: #4cd3e3;
      color: #fff;
    }
  }
  .element-info__in{
    background-color: #fff;
    color: #38a4ff;
    border: 1px solid #38a4ff;
    &:hover{
      background-color: #38a4ff;
      color: #fff;
    }
  }
  .element-warn__in{
    background-color: #fff;
    color: #f4e700;
    border: 1px solid #f4e700;
    &:hover{
      background-color: #f4e700;
      color: #fff;
    }
  }
  .element-dang__in{
    background-color: #fff;
    color: #f44a40;
    border: 1px solid #f44a40;
    &:hover{
      background-color: #f44a40;
      color: #fff;
    }
  }
  .element-link__in{
    color: #415094;
    text-decoration: underline;
    background-color: #fff;
    border: 1px solid #f9f9ff;
    &:hover{
      background-color: #f9f9ff;
    }
  }
  .element-dis__in{
    color: #fff;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
    cursor: not-allowed;
  }
}
.element-size{
  padding: 40px 0 0;
}

.element-size__list{
  align-items: center;
  margin-bottom: 20px;
  li{
    display: inline-block;
  }
  .element-full{
    transition: all .2s ease-out;
    margin-right: 15px;
  }
  .element-extra{
    background-color: #1f2b7b;
    padding: 15px 50px;
    color: #ffff;
    border: 1px solid #1f2b7b;
    &:hover{
      background-color: #fff;
      color: #1f2b7b;
    }
  }
  .element-large{
    background-color: #4cd3e3;
    padding: 13px 45px;
    color: #ffff;
    border: 1px solid #4cd3e3;
    &:hover{
      background-color: #fff;
      color: #4cd3e3;
    }
  }
  .element-default{
    background-color: #1f2b7b;
    padding: 10px 40px;
    color: #ffff;
    border: 1px solid #1f2b7b;
    &:hover{
      background-color: #fff;
      color: #1f2b7b;
    }
  }
  .element-medium{
    background-color: #4cd3e3;
    padding: 7px 40px;
    color: #ffff;
    border: 1px solid #4cd3e3;
    &:hover{
      background-color: #fff;
      color: #4cd3e3;
    }
  }
  .element-small{
    background-color: #1f2b7b;
    padding: 3px 35px;
    color: #ffff;
    border: 1px solid #1f2b7b;
    &:hover{
      background-color: #fff;
      color: #1f2b7b;
    }
  }
  .element-extra__in{
    background-color: #fff;
    padding: 15px 50px;
    color: #1f2b7b;
    border: 1px solid #1f2b7b;
    &:hover{
      background-color: #1f2b7b;
      color: #fff;
    }
  }
  .element-large__in{
    background-color: #fff;
    padding: 13px 45px;
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    &:hover{
      background-color: #4cd3e3;
      color: #fff;
    }
  }
  .element-default__in{
    background-color: #fff;
    padding: 10px 40px;
    color: #1f2b7b;
    border: 1px solid #1f2b7b;
    &:hover{
      background-color: #1f2b7b;
      color: #fff;
    }
  }
  .element-medium__in{
    background-color: #fff;
    padding: 7px 40px;
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    &:hover{
      background-color: #4cd3e3;
      color: #fff;
    }
  }
  .element-small__in{
    background-color: #fff;
    padding: 3px 35px;
    color: #1f2b7b;
    border: 1px solid #1f2b7b;
    &:hover{
      background-color: #1f2b7b;
      color: #fff;
    }
  }
}
.element-transform{
  padding: 40px 0;
}
.element-text{
  width: 100%;
}
.element-text__content{
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
  align-items: center;
}
.element-text__img{
  width: 263px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}
.element-text__text{
  max-width: 870px  ;
  width: 100%;
  color: #646D77;
}
.element-text__rev{
  text-align: right;
  .element-title{
    padding-top: 30px;
  }
  .element-text__content{
    flex-direction: row-reverse;
  }
  .element-text__img{
    margin-left: 20px;
    margin-right: 0;
  }
}
.element-items{
  padding: 20px 0 60px;
  border-bottom: 1px solid #eeeeee;
}
.element-items__inner{
  display: flex;
  justify-content: space-between;
}
.element-item{
  max-width: 370px;
  width: 100%;
}
.element-item__title{
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
  @include f500;
}
.element-item__text{
  color: #646D77;
}
.element-quotes{
  padding: 50px 0 60px;
  border-bottom: 1px solid #eeeeee;
}
.element-quotes__inner{
  padding: 30px;
  background-color: #f9f9ff;
  border-left:  1px solid #000;
  color: #646D77;
}
.element-table{
  padding: 50px 0;
  min-height: 570px;
  width: 1220px;
  border-bottom: 1px solid #eeeeee;
}
.element-table__inner{
  max-width: 1300px;
}
.table-table{
  width: 2200px;
  padding: 30px;
  height: 100%;
}
.table-list{
  max-width: 1185px;
  width: 100%;
  align-items: center;
  padding: 15px 0;
  background-color: #f9f9ff;
  color: #415094;
  border-bottom: 1px solid #ececec;
  li{
    display: inline-block;
  }
  .table-num{
    width: 140px;
    padding-left: 20px;
  }
  .table-count{
    width: 330px;
  }
  .table-visits{
    width: 230px;
  }
  .table-percent{
    width: 400px;
    span{
      height: 5px;
      display: block;
    }
  }
}
.table-list__pos1{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #6382E6;
    }
  }
}
.table-list__pos2{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #4bd74b;
    }
  }
}
.table-list__pos3{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #4bd74b;
    }
  }
}
.table-list__pos4{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #d4124b;
    }
  }
}
.table-list__pos4{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #dfe32a;
    }
  }
}
.table-list__pos5{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #8c0caf;
    }
  }
}
.table-list__pos6{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #2db878;
    }
  }
}
.table-list__pos7{
  color: #646D77;
  .table-count{
    position: relative;
    padding-left: 60px;
    img{
      width: 50px;
      height: 30px;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }
  .table-percent{
    span{
      background-color: #d0941b;
    }
  }
}
.element-gallery{
  padding: 40px 0 60px;
  border-bottom: 1px solid #eeeeee;
}
.element-box__row{
  display: flex;
  justify-content: space-between;
}
.element-row__item{
  height: 200px;
  width: calc(32%);
  img{
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.element-box__row2{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  .element-row__item{
    width: calc(48%);
  }
}
.element-order{
  padding: 50px 0 60px;
  border-bottom: 1px solid #eeeeee;
}
.element-order__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.element-height__item,
.element-unorded__item,
.element-order__item{
  width: 340px;
  height: 100%;
  margin: 0 10px 30px;
}
.element-height__item{
  color: #828bb2;
  .element-title{
    color: #000;
  }
  .element-height__line{
    font-size: 40px;
  }
  .element-height__line1{
    font-size: 35px;
  }
  .element-height__line2{
    font-size: 30px;
  }
  .element-height__line3{
    font-size: 25px;
  }
  .element-height__line4{
    font-size: 20px;
  }
  .element-height__line5{
     font-size: 15px;
  }
}
.element-unorded__item{
  color: #000;
  .element-unorded__line{
    span{
      padding-left: 30px;
      align-items: center;
      position: relative;
      display: block;
      margin: 10px 0;
      &:before{
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid $bl;
        position: absolute;
        left: 0;
      }
    }
    &:nth-child(4){
      padding-left: 50px;
    }
    &:nth-child(5){
      padding-left: 80px;
    }
  }
}
.element-order__item{
  color: #828bb2;
  .element-title{
    color: #000;
  }
  .element-order__line{
    color: #828bb2;
    padding-left: 20px;
    span{
      color: #000;
      margin-right: 5px;
    }
    &:nth-child(4){
      padding-left: 50px;
    }
    &:nth-child(5){
      padding-left: 80px;
    }
    &:nth-child(6){
      padding-left: 100px;
    }
  }
}
.element-form{
  padding: 40px 0 50px;
  display: flex;
  justify-content: space-between;
  .jq-selectbox.jqselect{
    width: 100%;
    & + .jq-selectbox.jqselect{
      margin-top: 5px;
    }
  }
  .jq-selectbox__select-text,
  .jq-selectbox__select-text.placeholder{
    display: block;
    max-width: 800px;
    width: 100%;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 10px 20px 10px 40px;
    height: 40px;
    color: #646D77;
    &:before{
      content: "\f072";
      position: absolute;
      left: 12px;
      font-family: 'icomoon';
      font-size: 18px;
    }
  }
  .jq-selectbox__dropdown{
    background-color: #fff;
    display: block;
    top: 40px;
    width: 100%;
    max-width: 770px;
    ul{
      border: 1px solid #ececec;
    }
    li{
      display: block;
      max-width: 770px;
      width: 100%;
      outline: none;
      background: #fff;
      padding: 10px 20px;
      color: #292932;
      transition: all .3s ease-out;
      &:hover{
        background-color: #b5b5f6;
      }
    }
  }
  .jq-selectbox__trigger{
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    position: absolute;
  }
  .jq-selectbox__trigger-arrow{
    &:before{
      transition: all .2s ease-out;
      content: "\f104";
      position: absolute;
      z-index: 20;
      font-size: 15px;
      font-family: 'icomoon';
      color: #000;
      top: 24%;
      left: 40%;
      transform: rotate(-90deg);
    }
  }
  .jq-selectbox.jqselect.dropdown.opened{
    transition: all 1s ease-out;
    .jq-selectbox__trigger-arrow{
      &:before{
        transform: rotate(90deg);
      }
    }
  }
}
.jq-selectbox.jqselect{
  cursor: pointer;
}
.element-content{
  max-width: 770px;
  width: 100%;
  margin-right: 20px;

  form{
    input{
      display: block;
      width: 100%;
      border: none;
      outline: none;
      background: #f9f9ff;
      padding: 0 20px;
      height: 40px;
      color: #646D77;
      margin: 10px 0;
    }
  }
  .input-focus:focus{
    outline: none;
    border: 1px solid #39e239;
  }
  textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 20px;
    resize: none;
    height: 100px;
    color: #646D77;
    margin: 8px 0 10px;
  }
}
.element-aside{
  max-width: 300px;
  width: 100%;
}
.element-switch{
  padding: 20px 0;
  margin-bottom: 20px;
  label{
    display: block;
    padding: 10px 0;
    align-items: center;
    width: 100%;
    position: relative;
    input{
      position: absolute;
      right: 0;
      top: 15px;
    }
  }
}
.label2,
.label1{
  input[type="checkbox"]{
    display: none;
  }
  span{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    width: 35px;
    top: 13px;
    height: 17px;
    border-radius: 9px;
    background-color: #f9f9ff;
    transition: all .2s ease-out;
    &:before{
      transition: all .2s ease-out;
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1px;
      top: 1px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    }
  }
  .label-check:checked ~ span{
    background-color: #1f2b7b;
    &:before{
      transform: translateX(18px);
    }
  }
}
.label3{
  input[type="checkbox"]{
    display: none;
  }
  span{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    width: 35px;
    top: 13px;
    height: 17px;
    border-radius: 9px;
    background-color: #f9f9ff;
    transition: all .2s ease-out;
    &:before{
      transition: all .2s ease-out;
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1px;
      top: 1px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    }
  }
  .label-check:checked ~ span{
    background-color: #4cd3e3;
    &:before{
      transform: translateX(18px);
    }
  }
}
.element-aside{
  .jq-selectbox__select-text:before{
    display: none;
  }
  .jq-selectbox.jqselect{
    width: 150px;
  }
  .jq-selectbox__select-text,
  .jq-selectbox__select-text.placeholder{
    padding: 10px 20px;
  }
}
.label-check{
  cursor: pointer;
}
.element-checkboxes{
  padding-top: 30px ;
  label{
    display: block;
    position: relative;
    padding: 10px 0;
  }
  .checkbox2,
  .checkbox1{
    input[type="checkbox"]{
      display: none;
    }
    span{
      cursor: pointer;
      display: inline-block;
      position: absolute;
      right: 0;
      width: 15px;
      top: 13px;
      height: 15px;
      border-radius: 3px;
      background-color: #f9f9ff;
      border: 1px solid #000;
      transition: all .2s ease-out;
    }
    .label-check:checked ~ span{
      background-color: #F67490;
      border: 1px solid #F67490;
      &:before{
        content: "\f077";
        font-family: 'icomoon';
        font-size: 11px;
        position: absolute;
        top: 1px;
        left: 1px;
        transform: rotate(180deg);
        color: #fff;
      }
    }
  }
  .checkbox3{
    input[type="checkbox"]{
      display: none;
    }
    span{
      cursor: pointer;
      display: inline-block;
      position: absolute;
      right: 0;
      width: 15px;
      top: 13px;
      height: 15px;
      border-radius: 3px;
      background-color: #f9f9ff;
      border: 1px solid #000;
      transition: all .2s ease-out;
    }
    .label-check:checked ~ span{
      background-color: #000;
      &:before{
        content: "\f077";
        font-family: 'icomoon';
        font-size: 11px;
        position: absolute;
        top: 1px;
        left: 1px;
        transform: rotate(180deg);
        color: #fff;
      }
    }
  }
  .checkbox5,
  .checkbox4{
    input[type="checkbox"] {
      position: absolute;
      cursor: not-allowed;
      right: 0;
      top: 13px;
    }
  }
}

.element-radios{
  padding-top: 30px;
  label{
    display: block;
    position: relative;
    padding: 10px 0;
  }
  .checkbox2,
  .checkbox1{
    input[type="checkbox"]{
      display: none;
    }
    span{
      cursor: pointer;
      display: inline-block;
      position: absolute;
      right: 0;
      width: 15px;
      top: 13px;
      height: 15px;
      border-radius: 50%;
      background-color: #f9f9ff;
      border: 1px solid #000;
      transition: all .2s ease-out;
    }
    .label-check:checked ~ span{
      border: 4px solid #F67490;
    }
  }
  .checkbox3{
    input[type="checkbox"]{
      display: none;
    }
    span{
      cursor: pointer;
      display: inline-block;
      position: absolute;
      right: 0;
      width: 15px;
      top: 13px;
      height: 15px;
      border-radius: 50%;
      background-color: #f9f9ff;
      border: 1px solid #000;
      transition: all .2s ease-out;
    }
    .label-check:checked ~ span{
      border: 4px solid #000;
    }
  }
  .checkbox5,
  .checkbox4{
    input[type="checkbox"] {
      display: none;
    }
    span{
      cursor: not-allowed;
      position: absolute;
      border: 1px solid #ececec;
      width: 15px;
      height: 15px;
      right: 0;
      background-color: #f9f9ff;
      top: 13px;
      border-radius: 50%;
    }
  }
}
// end element
//start


@import "media";

