@import "vars";
@import "global";
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Oswald:wght@400;500;700&display=swap');

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  box-shadow: 1px 1px 12px 0 rgba(145, 145, 145, 0.75);
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-out;
  &.done{
    opacity: 0;
    visibility: hidden;
  }
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    //border-top: 2px solid #fb0000;
    border-top: 2px solid #0013fbdb;
    animation: .7s spin infinite linear;
  }
  img{
    position: absolute;
    border-radius: 55%;
    width: 95px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  @keyframes spin {
    from{
      transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
}
html{
  .bpp-bg, .bpp-wrap{
    opacity: 0;
    visibility: hidden;
    transform: translateX(1000px);
    transition: all .3s;
  }
}
body{
  &.active-popup{
    overflow: hidden;
    .bpp-bg, .bpp-wrap{
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: all .5s ;
    }
    .bpp-bg{
      opacity: .8;
    }
  }
  .bpp-menu__header{
    padding-right: 50px;
    position: relative;
    .mob-hr__numb{
      color: $textTitle;
      font-size: 18px;
      font-family: 'GB';
      display: block;
      transition: all .3s ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }
    .mob-hr__link{
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      &:before{
        position: absolute;
        cursor: pointer;
        left: 7px;
        top: 6px;
        font-size: 40px;
        color: $textTitle;
      }
    }
  }
  .bpp-bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    background: #fff;
    transition: .3s;
    opacity: .8;
  }
  .bpp-wrap{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: fixed;
    backface-visibility: hidden;
    overflow: hidden auto;
  }
  .bpp-wrap__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bpp-content{
    width: 100%;
    display: table;
    position: relative;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    opacity: 1;
    //transition: all .3s ease-in-out;
    z-index: 1045;
  }
  .bpp-content__btn{
    width: calc(100vw - 370px);
    height: 100vh;
    display: table-cell;
  }
  .bpp-menu{
    float: right;
    width: 370px;
    min-height: 100vh;
    padding: 15px 10px 25px;
    background: #fff;
    box-shadow: 0 0 10px rgba(100, 39, 118, .47);
    position: revert;
    z-index: 1100;
    //transition: opacity .3s cubic-bezier(.075,.82,1,1);
    & > div,nav{
      border-top: 1px solid $textTitle;
      min-height: 50px;
      line-height: 50px;
      text-align: center;
      &:first-child{
        border-top: none;
      }
      &:last-child{
        border-bottom: 1px solid $textTitle;
      }
    }
    .header-box__num{
      display: block;
      li{
        margin: 0;
        text-align: left;
      }
    }
  }
  .mob-hr__social{
    .header-social{
      height: 60px;
      align-items: center;
      li{
        width: 50px;
        height: 50px;
        a{
          opacity: 1;
        }
      }
    }
  }
  .mob-bpp__menu{
    .menu-list{
      height: 100%;
      display: block;
      box-shadow: none;
      li{
        border-right: none;
        border-top: 1px solid #d4bcd7;
        .menu-main__link{
          position: relative;
          &:after{
            content: '';
            position: absolute;
            left: -37px;
            top: -6px;
            background: url(../images/content/s1.png);
            @include bg;
            width: 35px;
            height: 35px;
          }
        }
        &:first-child{
          border-top: none;
        }
      }
      a{
        color: $textTitle;
        font-family: 'GB';
        font-size: 18px;
        text-align: left;
        padding-left: 40px;
        height: 60px;
        line-height: 60px;
      }
      li:nth-child(1){
        .menu-main__link:after{
          background: url(../images/content/s2.png);
          @include bg;
        }
      }
      li:nth-child(6){
        .menu-main__link:after{
          background: url(../images/content/s2.png);
          @include bg;
        }
      }
    }
  }
  .mob-hr__oth-link{
    .header-top__right-faq{
      display: block;
      li{
        border-top: 1px solid #d4bcd7;

        &:first-child{
          border-top: none;
        }
      }
      a{
        display: block;
        height: 60px;
        line-height: 60px;
        padding: 0;
        font-size: 16px;
        color: #702567;
        &:hover{
          background: $textOtwo;
        }
      }
    }
  }
}

.over-off{
  overflow: hidden;
}
.up-delivery{
  font-weight: 600;
  display: none;
}
.up-social{
  margin-left: 20px;
  cursor: default;
}
//up end
//start header
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 120px;
  position: relative;
}
.header-top__mob{
  display: none;
  text-align: center;
  height: 70px;
  justify-content: space-between;
  background: #b224b50f;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .15);
  .header-mob__btn{
    width: 30%;
    text-align: right;
    line-height: 35px;
    margin: auto 10px 0 0;
  }
  .header-top__mob-but{
    position: relative;
    width: 40px;
    height: 40px;
    &:before{
      position: absolute;
      font-size: 40px;
      color: $textTitle;
      left: 0;
      top: 0;
    }
  }
  .header-top__mob-logo{
    height: 100%;
    width: 30%;
    img{
      width: 100%;
      height: 100%;
      @include bg;
    }
  }
  .header-top__mob-box{
    width: 30%;
    right: 0;
    height: 100%;
    top: 0;
    display: flex;
    text-align: left;
    flex-direction: column;
    .mob-hr__numb{
      height: 35px;
      line-height: 35px;
      color: $textTitle;
      font-size: 18px;
      position: relative;
      font-family: 'GM';
      margin-left: 11px;
    }
    .header-social{
      line-height: 40px;
      width: 200px;
      margin: 0 auto 0 0;
      height: 40px;
      a{
        opacity: 1;
      }
    }
  }
}
.footer-top__logo{
  position: relative;
  width: 350px;
  height: 100px;
  display: block;
  margin: 0 auto;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include bg;
  }
}
.up-faq__bar{
  width: 180px;
}
.header-top__right{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}
.header-top__right-up,
.header-top__right-down{
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.header-top__right-up{
  border-bottom: 1px solid #dee0e6;
  padding: 0 10px 0 0;
}
.header-social{
  display: flex;
  justify-content: space-around;
  li{
    width: 30px;
    height: 30px;
    position: relative;
    a{
      opacity: .5;
      &:hover{
        transition: all .3s ease-in-out;
        opacity: 1;
      }
    }
  }
  .soc-inst{
    position: absolute;
    content: '';
    background: url("../images/instL.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include bg;
  }
  .soc-wats{
    position: absolute;
    content: '';
    background: url("../images/whatsL.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include bg;
  }
  .soc-tik{
    position: absolute;
    content: '';
    background: url("../images/tikL.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include bg;
  }
  .soc-tel{
    position: absolute;
    content: '';
    background: url("../images/telegrL.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include bg;
  }
}
.header-border{
  border-bottom: 1px solid #020202;
}
.header-box__num{
  display: flex;
  padding: 18px 10px;
  font-family: 'GR';
  font-weight: 700;
  font-size: 15px;
  color: #777;
  li{
    margin: 0 10px 0 0;
    line-height: 35px;
    user-select: none;
  }
  &>*{
    padding: 0 0 0 40px;
  }
  .header-box__num-del, .header-box__num-loc, .header-box__num-shar, .header-box__num-big{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      @include bg;
      top: 3px;
      left: 1px;
      background-image: url(../images/content/2111644.svg);
      width: 30px;
      height: 29px;
    }
  }
  a{
    cursor: pointer;
    color: $textOth;
  }
}
.header-numb{
  position: relative;
  font-size: 18px;
  font-family: 'GM';
  color: #000;
  padding: 0 0 0 40px;
  transition: all .3s ease-in-out;
  line-height: 35px ;
  &:hover{
    text-decoration: underline;
    color: $textTitle;
  }
  &:after{
    content: '';
    position: absolute;
    @include bg;
    top: 3px;
    left: 1px;
    background-image: url(../images/content/2111644.svg);
    width: 30px;
    height: 29px;
  }
}
.header-top__right-faq{
  display: flex;

  li{
    font-family: 'GM';
    font-size: 13px;
  }
  a{
    color: #000000d1;
    text-decoration: underline;
    line-height: 1.538;
    padding: 10px 15px;
    transition: all .3s ease-in-out;
    &:hover{
      text-decoration: none;
      color: $textOth;
    }
  }
}
.up-mobile__text{
  display: none;
  color: #fff;
  transition: all .3s;
  &:hover{
    color: #f3f3f3b8;
  }
}
.header-log{
  width: 308px;
  height: 100%;
  position: relative;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    @include bg;
  }
}
.mob-menu{
  display: none;
}
.mob-social{
  display: none;
}
//.main-menu.fixed-menu{
//  position: fixed;
//  z-index: 50;
//  top: 0;
//  left: 0;
//  width: 100%;
//  background-color: #fff;
//}
.mobile-vers{
  display: none;
}

//end header
//start main-content

.works{
  padding: 20px 0 50px;
}
.content-list{
  position: absolute;
  right: 18px;
  top: 50px;
  text-align: right;
  z-index: 5;
  color: #ffffffde;
  text-transform: uppercase;
  font-size: 30px;
  user-select: none;
  cursor: default;
}
.content-title{
  position: absolute;
  font-size: 110px;
  font-weight: 700;
  letter-spacing: -6px;
  top: 185px;
  text-align: center;
  line-height: 1.1;
  left: 616px;
  z-index: 5;
  color: #fff;
  cursor: default;
  user-select: none;
  span{
    display: block;
    font-size: 60px;
    margin-top: -9px;
    letter-spacing: normal;
  }
}
//end main-content
//start sale
.sale{
  padding: 30px 100px 50px;
  background: #fff;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-image: url(../images/content/garl2.png);
    width: 100%;
    height: 30px;
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    left: 0;
    top: -15px;
    z-index: 2;
  }
}
.sale-title__link{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -2px;
  right: 6px;
}
.sale-title__link-text{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.title.title-600{
  span{
    max-width: 600px;
  }
}
.title{
  font-size: 36px ;
  text-transform: uppercase;
  color: $textTitle;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: 'Gecko';
  letter-spacing: 4.5px;
  span{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0;
    text-transform: none;
    display: block;
    max-width: 800px;
    margin: 5px auto;
    font-size: 18px;
    color: $textOth;
    position: relative;
  }
}
.gallery__inner{
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(6, 16.5%);
  grid-template-rows: repeat(2, 280px);
  grid-gap:10px;
  img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.gallery-item1{
  grid-area: 1/1/1/1;
}
.gallery-item2{
  grid-area: 1/3/1/3;
}
.gallery-item3{
  grid-area: 1/4/1/4;
}
.gallery-item4{
  grid-area: 1/5/span 2/7;
}
.gallery-item5{
  grid-area: 2/1/2/1;
}
.gallery-item6{
  grid-area: 2/2/2/2;
}
.gallery-item7{
  grid-area: 2/3/2/3;
}
.gallery-item8{
  grid-area: 1/4/1/4;
}
.gallery-item{
  position: relative;
  &:hover{
    .img-mask{
      visibility: visible;
      opacity: 1;
      a{
        top: 50%;
      }
    }
  }
}
.img-mask{
  transition: all .3s ease-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-weight: 500;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  z-index: 3;
  a{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #fff;
    padding: 20px 30px;
    transition: all .3s ease-out;
    &:hover{
      background: #fff;
      color: #4d4744;
    }
  }
}
//end sale
//start add-sale
.add-sale{
  background-color: #fbfbfb;
  padding: 30px 100px 50px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-image: url(../images/content/garl1.png);
    width: 100%;
    height: 30px;
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    left: 0;
    top: -15px;
    z-index: 2;
  }
}

.add-sale__items{
  display: flex;
  padding: 20px 0 40px;
  justify-content: space-around;
}
.wrapper-item{
  width: 300px;
  height: 380px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  text-align: center;
  transition: all .3s ease-in-out;
  animation-duration: 1.2s;
  animation-name: fadeInUp;
  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(104, 19, 127, 0.88);
    transform: translateY(-20px);
    border-radius: 20px;
    .add-sale__item-img{
      border-radius: 20px 20px 0 0;
    }
  }
}
.add-sale__title{
  font-size: 19px;
  color: $text;
  font-weight: 700;
  padding: 10px 0;
}
.add-sale__item-img{
  transition: all .3s ease-in-out;
  width: 100%;
  height: 325px;
  @include bg;
}
//end  add-sale
//start footer
.footer{
  padding: 20px 0;
  background: #020202;
  position: relative;
}
.footer-list{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  a{
    margin: 0 10px;
    font-size: 20px;
    color: #bfbfbf;
    transition: all .3s ease-out;
    position: relative;
    overflow: hidden;
    &:before{
      content: '';
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      background-color: #fff;
      transition: all .3s ease-out;
    }
    &:hover{
      color: #fff;
      &:before{
        width: 100%;
      }
    }
  }
}
.footer-item{
  text-align: center;
  .header-log{
    color: #fff;
    margin: 0 auto;
  }
}
.footer__copy{
  .footer-item{
    position: absolute;
    left: 20px;
    bottom: 9%;
    a{
      margin: 5px;
    }
  }
  .footer-social{
    display: flex;
    flex-direction: column-reverse;
    a{
      width: 40px;
      height: 40px;
    }
    .icon-tiktok{
      background: #fff;
      &:before{
        color: #0b0b0b;
      }
      &:hover{
        background: #0b0b0b;
        &:before{
          color: #fff;
        }
      }
    }
  }
}
.footer-social{
  li{
    display: inline-block;
  }
  a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
    transition: all .3s ease-out;
    &:before{
      position: absolute;
      color: #fff;
      @include lt;
      font-size: 25px;
      transition: all .3s ease-out;
    }
    &:hover{
      background: #fff;
      &:before{
        color: #000;
      }
    }
  }
  .icon-whatsapp{
    background: #00C306;
  }
  .icon-paper-plane{
    background: #009FFD;
      &:before{
         left: 45%;
      }
  }
  .icon-vk{
    background: #1976D2;
  }
  .icon-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
}
//end footer
//start
.breadcrumbs {
  border-bottom: 1px solid #ececec;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 130px;
  &__inner {
    //width: 1030px;
    text-align: center;
    overflow: hidden;
    padding: 30px 0;
  }
  &-list {
    li {
      display: inline-block;
      &:last-child {
        a, span {
          color: rgba(2, 2, 2, 0.41);
          opacity: .6;
          cursor: default;
        }
      }
    }
    a, span {
      color: #020202;
      font-size: 15px;
    }
    li + li {
      padding-left: 10px;
      &:before {
        content: '/';
        color: #020202;
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }
  .breadcrumbs-list__title,h1,h2,h3,h4,h5,h6{
    color: $textTitle;
    font-family: 'Gecko' !important;
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
    p{
      margin-top: -5px;
    }
  }
}
//start range
.shari{
  background-color: #fbfbfb;
  padding: 0 0 50px;
  display: flex;
  justify-content: center;
}
.shari-inner__two{
  display: flex;
  flex-wrap: wrap;
  padding: 0 120px;
  max-width: 1850px;
  justify-content: flex-start;
  align-items: center;
  &.two-mini{
    min-height: 400px;
  }
}
.wrapper-shari__case{
  max-width: 250px;
  width: 250px;
  margin: 30px 0 0 30px;
  position: relative;
  min-height: 355px;
  transition: all .3s;
  &:hover{
    transition: all .3s ease-in-out;
    z-index: 20;
    .shari-case{
      height: auto;
      background-color: #fff;
      padding: 15px 15px 3px 15px;
      transition: all .3s ease-in-out;
      box-shadow: 0px 0px 5px 0px rgba(104, 19, 127, 0.88);
      transform: scale(1.05);
      z-index: 20;
    }
    .shari-case__box{
      visibility: visible;
    }
  }
}
.shari-case__box-upper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  .shari-case__box-main{
    color: #0b0b0b;
  }
  .shari-case__box-price{
    color: $link;
  }
  span{
    display: block;
    width: 100%;
    font-size: 22px;
  }
}
.shari-case__box{
  visibility: hidden;
  text-align: center;
  font-size: 17px;
  li{
    margin: 3px 0;
    color: #474747b0;
  }
  .shari-case__box-size{
    color: $textOth;
  }
}
.shari-case{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  transition: all .3s;
  padding: 15px 15px 0 15px;
  .shari-case__transit{
    font-size: 17px;
    margin: 3px 0;
    color: #fff;
    border-radius: 5px;
    padding: 3px 23px;
    background-color: $textTitle;
    border: 1px solid $textOtwo;
    &:hover{
      color: $textTitle;
      background-color: $textOtwo;
      border: 1px solid $textTitle;
    }
  }
  &.catalog-ball{
    position: relative;
    height: 230px;
    width: 234px;
    text-align: center;
    font-size: 29px;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #000;
      color: #fff;
    }
  }
}
.shari-case__img {
  position: relative;
  width: 100%;
  margin-bottom: 7px;
  padding-bottom: 120%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);

  .shari-case__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include bg;
  }
}
.example{
  padding: 30px 0;
}
.example-inner{
  text-align: center;
}
.example-text{
  font-size: 24px;
  font-weight: 500;
  color: #020202;
  a{
    color: $link
  }
}
//end footer
//start composition
.compositions{
  padding: 50px 0;
  background: #fff;
}
.compositions-items{
  display: flex;
  .tabs{
    width: 290px;
    span{
      display: block;
    }
    a{
      color: #020202;
    }
    .tab{
      border: 1px solid #ececec;
      border-bottom: none;
      text-align: center;
      width: 100%;
      height: 50px;
      padding: 15px 7px;
      align-items: center;
      transition: all .3s ;
      cursor: pointer;
      &.active{
        color: #fff;
        background: $textTitle;
        &:hover{
          background: $textTitle;
        }
      }
      &:hover{
        background: rgba(226, 141, 250, 0.57);
      }
      &:last-child{
        border-bottom: 1px solid #ececec;
      }
    }
  }
}
.box-item__cast{
  .tab-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tab-wrapper{
    width: 300px;
    height: 300px;
    margin: 50px;
    @include bg;
    position: relative;
  }
  .compositions-tab {
    position: absolute;
    padding-bottom: 100%;
    width: 100%;
    cursor: pointer;
    transition: all .3s;
    @include bg;
  }
}
.comp-all{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.comp-all__item{
  text-align: center;
  width: 17%;
  margin: 20px;
  .comp-all__item-img{
    position: relative;
    overflow: hidden;
    background-color: #fff;
    transition: all .3s ease-in-out;
    &:hover {
    box-shadow: 0px 0px 11px 6px rgba(130, 28, 154, 0.62);
    }
    a{
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      display: block;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      transition: all .3s ease-in-out;
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
  .comp-all__mask{
    transition: all .3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-weight: 500;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    z-index: 3;
    span{
      font-size: 34px ;
      position: absolute;
      top: 49%;
      left: 50%;
      padding: 20px 30px;
      transform: translate(-50%,-50%);
      text-transform: uppercase;
      color: #FFFFFF;
      transition: all .3s ease-out;
    }
  }
}
.compositions{
  .tab_content{
    width: 100%;
    .tab-item{
      display: none;
      .tab-wrapper{
        position: relative;
        width: 300px;
        height: 300px;
        margin: 0 0 40px 40px;
        overflow: hidden;
        transition: all .3s;
        &:hover {
          box-shadow: 0px 0px 11px 1px rgba(135, 15, 221, 0.62);
        }
      }
      &.active-tab{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
    .compositions-tab {
      position: absolute;
      padding-bottom: 100%;
      width: 100%;
      cursor: pointer;
      transition: all .3s;
      @include bg;
      .compositions-tab__span {
        position: absolute;
        top: 12px;
        left: 12px;
        span {
          color: #000;
          height: 40px;
          padding: 6px;
          border: 1px solid #47474730;
          border-radius: 30px;
          background: #fff;
          min-width: 40px;
          position: absolute;
          font-size: 20px;
          font-weight: 700;
          text-align: center;
        }
      }
    }
  }
}

//end composition
.info{
  background: #fbfbfb;
  padding: 40px 0 70px;
  position: relative;
  .about{
    .about-tell__link{
      color: $textOth;
    }
  }
  &:before{
    position: absolute;
    content: '';
    background-image: url(../images/content/garl2.png);
    width: 100%;
    height: 30px;
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    left: 0;
    top: -15px;
    z-index: 2;
  }
}
.about__inner{
  padding: 50px 80px;
}
.about__text{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  max-width: 650px;
  font-size: 24px;
  position: relative;
  padding: 60px;
  margin-left: 46%;
  background: #fff;
  border-radius: 20px;
  &:before{
    content: '';
    position: absolute;
    background: url(../images/content/hel.png);
    @include bg;
    width: 800px;
    height: 500px;
    left: -100%;
    top: 54px;
    z-index: 5;
  }
  li{
    margin: 20px;
    span{
      font-weight: 700;
      margin-left: 5px;
    }
  }
}
.about-title{
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 36px;
  margin: 0;
}
.about-tel{
  display: flex;
  justify-content: center;
  padding: 0  0 40px;
  font-size: 30px;
  align-items: center;
  a{
    margin-left: 10px;
    font-weight: 500;
    color: #020202;
  }
}
.about-social{
  display: flex;
  justify-content: space-around;
  padding: 0 40px 30px;
  flex-wrap: wrap;
  a{
    margin: 30px 0;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 5px solid #3e3e4036;
    border-radius: 50%;
    z-index: 5;
    position: relative;
    transition: all .3s;
    line-height: 80px;
    font-family: 'Oswald', sans-serif !important;
    &:before{
      position: absolute;
      color: #000;
      left: 50%;
      font-family: 'icomoon' !important;
      transform: translate(-50%,27%);
      font-size: 78px;
    }
    span{
      transition: all .3s;
      z-index: 4;
      position: absolute;
      font-size: 24px;
      color: #3E3E40;
      @include lt;
      top: 78%;
    }
  }
  .icon-instagram{
    span{
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:before{
      content: url("../images/content/instagram.svg");
      width: 100px;
      height: 100px;
    }
    &:hover{
      border: double 4px transparent;
      border-radius: 50%;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, #9805ff,#f82d08);

      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }
  .icon-whatsapp{
    span{
      color: #00C306;
    }
    &:before{
      content: url("../images/content/whatsapp.svg");
      width: 100px;
      height: 100px;
    }
    &:hover{
      border: 5px solid #00C306;
    }
  }
  .icon-tiktok{
    span{
      color: #000000;
    }
    &:before{
      content: "\e901";
      width: 100px;
      height: 100px;
      text-align: center;
      transform: translate(-50%,37%);
    }
    &:hover{
      border: 5px solid #000000;
    }
  }
  .icon-vk{
    span{
      color: #1976D2;
    }
    &:before{
      content: url("../images/content/vk.svg");
      width: 100px;
      height: 100px;
      transform: translate(-50%,33%);
    }
    &:hover{
      border: 5px solid #1976D2;
    }
  }
  .icon-paper-plane{
    span{
      color: #009FFD;
    }
    &:before{
      content: url("../images/content/telegram.svg");
      width: 100px;
      height: 100px;
    }
    &:hover{
      border: 5px solid #009FFD;
    }
  }
}
.info-box{
  .info-but{
    .info-adg__item{
      max-width: 100%;
    }
    .box-first{
      position: relative;
      padding: 10px 10px 50px 400px;
      &:before{
        position: absolute;
        content: '';
        background: url(../images/content/box-a.png);
        @include bg;
        width: 300px;
        height: 300px ;
        left: 39px;
        top: -47px;
      }
    }
  }
  .box-img,
  .box-img__cast{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .box-img__item{
      margin: 0 150px;
      width: 400px;
      height: 400px;
      text-align: center;
      .box-img__item-img{
        img{
          width: 100%;
          height: 100%;
          @include bg;
        }
      }
    }
    .box-img__cast{

    }
    .box-img__item-full{
      padding: 10px;
      margin: 30px;
    }
  }
  .info-but{
    &:before{
      display: none;
    }
  }
}
.breadcrumbs-list__title{
  .icon-info{
    color: $textTitle;
    font-family: 'Gecko' !important;
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
    position: relative;
    &:before{
      position: absolute;
      right: -30px;
      top: 6px;
      font-size: 25px;
      font-family: 'icomoon';
      color: $textTitle;
    }
  }
}
.box-slide{
  text-align: center;
  img{
    @include bg;
    max-width: 100%;
    height: 350px;

  }
}
.works__inner{
  position: relative;
  background: #fff;
  .card{
    width: 250px;
  }
  .swiper-wrapper{
    align-items: center;
  }
}
.swiper-button-next,
.swiper-button-prev{
  &:after{
    color: $textTitle;
  }
}
.swiper-one{
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  .swiper-slide{
    position: relative;
    overflow: hidden;
    &:hover{
      .swiper-slide__wrap{
        transform: scale(1.1);
      }
      .swiper-slide__context{
        &:after{
          width: 350px;
          height: 200px;
        }
      }
    }
  }
  .swiper-slide__wrap{
    width: 100%;
    height: 100%;
    background-color: #8420af;
    transition: all .5s ease-in-out;
    &:after{
      position: absolute;
      content: '';
      width: 95%;
      height: 91%;
      border: 2px solid #ffffff85;
      @include lt;
      z-index: 15;
    }
    &:before{
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 10;
      background-color: #000000;
      opacity: 0.3;
    }
    .swiper-slide__context{
      font-family: 'Gecko';
      line-height: 36px;
      letter-spacing: 2px;
      position: absolute;
      @include lt;
      z-index: 21;
      color: #fff;
      font-size: 40px;
      text-align: center;
      &:after{
        transition: all .5s ease-in-out;
        position: absolute;
        content: '';
        width: 320px;
        height: 168px;
        border: 2px solid #ffffff6e;
        @include lt;
        z-index: 15;
      }
      &:before{
        content: '';
        z-index: -1;
        position: absolute;
        @include lt;
        background-color: #5a0557a3;
        width: 350px;
        height: 200px;
      }
    }
    .swiper-slide__frame{
      @include bg;
      width: 100%;
      height: 100%;
      transition: all .5s ease-in-out;
    }
  }
  .swiper-pagination{
    bottom: -34px;
  }
  .swiper-pagination-bullet{
    background: #90068b;
  }
  .swiper-pagination-bullet-active{
    background-color: $textTitle;
  }
}
.info-ask__item{
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  margin: 0 auto 30px;
  text-align: center;
}
.info-ask__title{
  font-size: 25px;
  font-weight: 700;
  border-radius: 17px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  padding: 14px 30px;
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
  p{
    position: relative;
    width: 434px;
  }
  span{
    position: absolute;
    right: -24px;
    font-size: 33px;
    top: -1px;
  }
}
.info-ask__text{
  color: #0000006b;
  font-size: 22px;
  transition: all .3s;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 17px 17px;
  padding: 0 30px 10px;
  cursor: default;
  &:first-child{
    padding: 4px 30px 10px;
  }
  span{
    color: #000000c7;
  }
}
.info-adg__item{
  padding: 20px 20px 0 20px;
}
.info-adg__title{
  text-transform: uppercase;
  color: $textTitle;
  cursor: default;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.info-adg__text{
  cursor: default;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  color: #6c6c6c;
  a{
    color: $textTitle;
  }
  span,p{
    color: $textOth;
    font-weight: 500;
    display: inline-block;
  }
  li{
    margin: 10px 0;
    padding-left: 15px;
    position: relative;
    font-family: 'Oswald', sans-serif !important;
    &:before{
      position: absolute;
      font-family: 'icomoon';
      left: -5px;
      top: 2px;
      transform: rotate(-90deg);
    }
    &:first-child{
      margin-top: 20px;
    }
  }
}
.info-drop{
  display: none;
  border-radius: 17px;
}
.ask-links{
  color: $link;
  transition: all .3s ease-out;
  margin-left: 7px;
  &:hover{
    color: rgba(231, 18, 18, 0.8);
  }
}
.info-but{
  padding: 50px 0;
  position: relative;
}
.info-title.title__down-up{
  padding: 50px 0 0;
}
.info-title{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
  padding-bottom: 70px;
  a{
    font-size: 20px ;
    display: inline-block;
    color: #020202;
    width: 200px;
    height: 40px;
    padding: 5px 0;
    transition: all .3s;
    border-radius: 20px;
    z-index: 3;
    &:hover{
      //font-size: 22px;
      transform: scale(1.1);
      border: 1px solid rgba(0, 0, 0, 0.64);
    }
  }
}
.shari-container{
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-image: url(../images/content/garl2.png);
    width: 100%;
    height: 30px;
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    left: 0;
    top: -15px;
    z-index: 2;
  }
}
.shari__inner-title{
  &.title-first{
    margin: 20px 0 0;
  }
  display: flex;
  font-family: 'Gecko';
  justify-content: center;
  margin: 50px 0 0;
  font-size: 40px;
  color: $textTitle;
  background: $textOtwo;
}
.social-inst{
  padding: 60px 100px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-image: url(../images/content/garl4.png);
    width: 100%;
    height: 30px;
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    left: 0;
    top: -15px;
    z-index: 2;
  }
}
.social-inst__inner{
  display: flex;
  justify-content: center;
}
.social-inst__item{
  position: relative;
  margin-left: -220px;
  .img-inst{
    position: absolute;
    content: '';
    background-image: url(../images/content/inst-soc.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 270px;
    right: -300px;
  }
}
.social-inst__item-title{
  font-size: 29px ;
  font-weight: 600;
  cursor: default;
  letter-spacing: 4px;
  color: #474747;
  font-family: Gecko;
}
.social-inst__item-text{
  max-width: 600px;
  cursor: default;
  font-size: 22px;
  color: #474747;
  margin: 30px 0 40px;
  a{
    color: $link;
  }
}
.social-inst__link{
  color: #ffffff;
  background-color: $link;
  border-radius: 30px;
  font-weight: 700;
  padding: 15px 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-out;
  &:hover{
    background-color: rgba(238, 80, 69, 0.83);
  }
}
.btn__to-top{
  position: fixed;
  display: none;
  right: 20px;
  bottom: 100px;
  width: 50px;
  z-index: 90;
  height: 50px;
  border-radius: 50%;
  background-color: $link;
  border:none;
  outline: none;
  &:before{
    content: "\ea3a";
    color: #fff;
    font-family: 'icomoon';
    font-size: 28px;
    position: absolute;
    top: 6px;
    left: 11px;
  }
}
.fixed-bar{
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 50px;
  z-index: 300;
  height: 50px;
  border-radius: 30px;
  border: none;
  outline: none;
  transition: all .3s ease-out;
  overflow: hidden;
  .icon-whatsapp{
    background: #00C306;
  }
  .icon-paper-plane{
    background: #009FFD;
  }
  .icon-vk{
    background: #1976D2;
  }
  .icon-tiktok{
    background: #0b0b0b;
  }
  .icon-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
  .fixed-button{
    width: 51px;
    height: 50px;
    border-radius: 30px;
    background: $link;
    position: absolute;
    z-index: 109;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: all .3s ease-out;
    &:before{
      position: absolute;
      content: '\f0e6';
      color: #fff;
      font-size: 30px;
      font-family: 'icomoon';
      @include lt;
    }
  }
  .fixed-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 215px;
    border-radius: 30px;
    text-align: center;
    z-index: 79;
    li{
      position: relative;
      &:first-child{
        margin-top: 10px;
      }
    }
    a{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      &:before{
        position: absolute;
        color: #fff;
        top: 44%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}
.fixed-bar.on{
  height: 238px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  .fixed-button{
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #fff;
    &:before{
      content: '\f00d';
      color: #474747;
      font-size: 28px;
      top: 48%;;
    }
  }
  .fixed-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 260px;
    border-radius: 30px;
    text-align: center;
    z-index: 99;
    li{
      position: relative;
      &:first-child{
        margin-top: 10px;
      }
    }
    a{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &:hover{
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
      &:before{
        transition: all .3s;
        position: absolute;
        color: #fff;
        font-size: 19px;
        top: 44%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .icon-instagram:before{
      font-size: 22px;
    }
    .icon-paper-plane:before{
      left: 47%;
    }
    .icon-whatsapp:before{
      font-size: 23px;
    }
  }
}
.about-price__list{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .about__price-link{
    flex: 0 0 500px;
    max-height: 500px;
    padding-right: 20px;
    img{
      width: 100%;
      height: 100%;
      @include bg;
      border-radius: 10px;
    }
  }
  .about-price__list-price{
    width: 1270px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 250px);
    grid-template-rows: repeat(2, 245px);
    overflow-x: scroll;
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
    }
    li{
      text-align: center;
      a{
        height: 100%;
        img{
          @include bg;
          border-radius: 10px;
          width: 100%;
          height:100%;
        }
      }
    }
  }
}

.relation{
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.relation-block{
  max-width: 400px;
  width: 100%;
  position: absolute;
  background-color: #00000066;
  border-radius: 17px;
  padding: 30px 40px 20px;
  @include lt;
  border: 1px solid #15141452;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
}
.relation-block__logo{
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #828282;
  img{
    @include bg;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}
.relation-block__list {
  padding: 30px 0 0;
  li {
    border-radius: 6px;
    margin-bottom: 20px;
    height: 50px;
    font-weight: 500;
    a {
      display: flex;
      font-size: 25px;
      position: relative;
      height: 100%;
      padding: 13px 10px;
      transition: all .3s;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 6px;
      color: #fff;
      overflow: hidden;
      &:before{
        display: none;
      }
      span{
        font-size: 25px;
        font-family: 'Oswald', sans-serif !important;
        letter-spacing: 1px;
        position: absolute;
        transition: all .3s;
        z-index: 5;
        &:before{
          position: absolute;
          left: -7px;
          top: 0;
          font-size: 30px;
          color: #f85764;
        }
        &:nth-child(1){
          transition-delay: .1s;
          position: relative;
          padding-left: 30px;
        }
        &:nth-child(2){
          transform: scale(3);
          opacity: 0;
          transition-delay: 0s;
        }
      }
      &:hover span:nth-child(1){
        transform: scale(0);
        transition-delay: 0s;
      }
      &:hover span:nth-child(2){
        transform: scale(1);
        opacity: 1;
        z-index: 10;
        color: #fff;
        transition-delay: .1s;
      }
      span{
        &:before{
          font-family: 'icomoon' !important;
        }
      }
      span{
        &:before{
          color: #fff !important;
        }
      }
    }
    &:nth-child(1) {
      background: rgba(248, 87, 100, .85);
    }
    &:nth-child(2) {
      background: rgba(51, 198, 34, .85);
    }
    &:nth-child(3) {
      background: rgba(0, 159, 253, .85);
    }
    &:nth-child(4){
      background: rgba(11, 11, 11, .85);
    }
    &:nth-child(5){
      background: rgba(162, 162, 162, .85);
    }
    &:nth-child(6) {
      background: rgba(34, 70, 177, .85);
    }
    &:nth-child(7) {
      background: rgba(249, 14, 14, .85);
    }
  }
}
.faq-about{
  padding: 50px 80px 50px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-image: url(../images/content/garl3.png);
    width: 100%;
    height: 30px;
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    left: 0;
    top: -15px;
    z-index: 2;
  }
}
.faq-about__inner {
  display: flex;
  justify-content: space-around;
}
.faq-about__it{
  cursor: default;
  max-width: 370px;
  padding: 20px;
  width: 100%;
  height: 120px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(227, 24, 230, .54);
  display: flex;
  align-items: center;
  margin: 0 10px;
  img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    @include bg;
  }
}
.faq-about__box{
  font-family: cursive;
  font-weight: 700;
}
.faq-about__it-title{
  font-size: 20px;
}
.faq-about__it-text{
  font-size: 14px;
  color: #777777;
}

//section-menu
.mob-bpp__menu{
  .menu-list{
    &:hover{
      .st-list{
       display: none;
       }
    }
  }
}
.menu-list{
  border-top: 1px solid #dee0e6;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .15);
  z-index: 49;
  li{
    border-right: 1px solid #dee0e6;
    width: 100%;
    transition: all .3s ease-in-out;
    &:hover{
      background: $textOtwo;
      .menu-main__link{
        color: $textTitle;
        &:before{
          //transform: scaleY(-1);
          transform: rotate(180deg);
          top: 0;
        }
      }
      .st-list{
        display: table;
      }
    }
  }
  a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    font-family: 'GB';
    color: #000000;
    min-width: 120px;
  }
  .mob-st__link{
    position: revert;
    font-family: 'GB' !important;
    &.active{
      background: $textOtwo;
     &:before{
       transform: rotate(0);
     }
    }
    &:before{
      transition: all .3s ease-in-out;
      position: absolute;
      right: 16px;
      transform: rotate(-90deg);
      font-family: 'icomoon';
      font-size: 30px;
      top: -1px;
    }
    span{
      &:before{
        display: none;
      }
    }
  }
  .menu-main__link{
    position: relative;
    font-family: 'GB' !important;
    &:before{
      transition: all .3s ease-in-out;
      position: absolute;
      right: -19px;
      font-family: 'icomoon';
      width: 20px;
      height: 20px;
      font-size: 20px;
      top: -1px;
    }
  }
  .st-list{
    background: #fff;
    position: absolute;
    display: none;
    border: 1px solid #dee0e6;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .15);
    ul{
      float: left;

    }
    a{
      line-height: 40px ;
      font-size: 14px ;
    }
    li{
      &:hover{
        a{
          color: $textTitle;
        }
      }
    }
  }
  .st-list__ul{
    li{
      width: 260px;
    }
  }
}
.mob-bpp__menu{
  .st-list{
    height: auto;
    position: static;
    border: none;
    box-shadow: none;
    ul{
      float: none;
      li{
        width: 100%;
        &:first-child{
          border-top: 1px solid #d4bcd7;
        }
        a{
          font-size: 16px;
          line-height: 40px;
          height: 40px;
          color: $textOth;
          padding-left: 10px;
        }
      }
    }
  }
}
.mob-st__list{
  display: none;
}
.info-tabs{
  .tabs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 3px solid #851b87;
    span{
      border-left: 1px solid #dee0e6;
      border-top: 1px solid #dee0e6;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 50px;
      font-size: 22px;
      color: $textTitle;
      padding: 0 40px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:last-child{
        border-right: 1px solid #dee0e6;
      }
      &:hover{
        background: $textOtwo;
        border-color: $textOtwo;
      }
    }
    & .active{
      background: $textTitle;
      border: none;
      color: #ffff;
      &:hover{
        background: $textTitle;
        border-color: #fff;
      }
    }
  }
  .tab{
    width: 100%;
    text-align: center;
    height: 100%;
  }
  .tab-item{
    display: none;
    padding: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .15);
    &.active-tab{
      display: block;
    }
  }
}
.about-info__wrapper{
  padding-top: 30px ;
}
.about-tell__link{
  display: block;
  max-width: 400px;
  margin: 0 auto;
}


.test-shar{
  padding: 50px 0;
}


@import "media";

