@media (max-width: 1796px) {
  .shari__inner{
    padding-left: 40px;
  }
  .info-but:before {
    width: 300px;
    height: 300px;
    right: 20px;
    top: -49px;
  }
}
@media (max-width: 1600px){
  .info-but:before {
    width: 150px;
    height: 150px;
    right: 0;
    left: 0;
  }
}
@media (max-width: 1540px) {
  .up-mobile__text{
    display: block;
  }
  .up-delivery{
    display: none;
  }
  .header-box__num{
    display: none;
  }
  .header-log{
    font-size: 40px;
  }
  .about__text:before {
    width: 500px;
    height: 500px;
    right: 56px;
    top: -294px;
  }
  .about__text{
    right: 0;
    left: 0;
    margin: 120px 0 auto;
    position: relative;
  }
  .about__inner{
    min-height: 850px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 1482px) {
  .shari {
    padding: 20px 0 40px;
    &__inner {
      justify-content: center;
    }
  }
  .shari-item {
    flex-basis: calc(285px - 10px);
    height: 456px;
  }
  .img-shari {
    height: 340px;
  }
  .gallery__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .gallery-item{
    width: 32.5%;
    height: 400px;
  }
  .gallery-item3,
  .gallery-item3-4,
  .gallery-item3-5{
    display: none;
  }
  .breadcrumbs__inner{
    padding: 20px 0;
  }
}
@media (max-width: 1360px) {
  .main-slide__inner {
    height: 300px;
  }
  .content-bg {
    .content-img {
      height: 300px;
      z-index: -1;
    }

    .content-mask {
      height: 300px;
      z-index: -1;
    }
  }
  .content-title {
    position: static;
    font-size: 70px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 1.1;
    padding-top: 30px;

    span {
      font-size: 40px;
      color: #fff;
    }
  }
  .content-list {
    position: static;
    text-align: center;
    padding-top: 85px;
    color: #fff;
    font-size: 30px;
    justify-content: space-around;
    display: flex;
  }
  .footer .footer-dost {
    bottom: 0;
    top: 4px;
    font-size: 21px;
  }
  .footer .footer-tel {
    bottom: 0;
    top: 4px;
    flex-direction: column;
    display: flex;
    font-size: 21px;
  }
  .info-ask__title {
    font-size: 21px;
    p{
      width: 360px;
    }
    span{
      top: -3px;
    }
  }
  .info-ask__text {
    font-size: 17px;
  }
  .info-ask__text:first-child {
    padding: 0 30px 8px;
  }
  .gallery-item {
    height: 350px;
  }
}
@media (max-width: 1300px) {
  .add-sale__items{
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
  }
  .add-sale__item{
    margin: 30px 70px;
  }
  .info-but:before {
    width: 100px;
    height: 100px;
    right: 25px;
    top: -126px;
    left: auto;
  }
  .info-title{
    flex-direction: column;
    margin: 0;
    padding: 0;
    a{
      width: 100%;
    }
    li{
      border-bottom: 1px solid #0000001c;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .info-ask{
    padding-top: 50px;
  }
  .info{
    padding: 0 0 30px;
  }
  .info-but{
    padding: 30px 0;
  }
  .info-title a:hover{
    transform: scale(1);
    border-radius: 0;
    border-right: none;
    border-left: none;
  }
  .about-social{
    padding: 60px 0 50px;
    a{
      margin: 20px;
    }
  }
}
@media (max-width: 1150px) {
  .content-list{
    font-size: 21px;
  }
}
@media (max-width: 1100px) {
  .social-inst__item{
    margin-left: 0;
  }
  .social-inst__item-title{
    display: none;
  }
  .social-inst__item .img-inst {
    right: 161px;
    transform: scale(.6);
    top: -99px;
  }
  .social-inst__item{
    text-align: center;
    padding-top: 70px;
  }
  .social-inst__item-text{
    margin: 40px 0 30px;
  }
  .shari-inner__two{
    justify-content: center;
  }
  .shari-case{
    margin: 15px;
    width: 31%;
    max-width: none ;
  }
  .shari-case__box{
    font-size: 21px;
  }
  .example-text{
    font-size: 20px;
  }
  .example{
    padding: 15px 0;
  }
  .menu {
    display: none;
  }
  .mob-menu {
    display: block;
  }
  .mob-menu .mob-list {
    top: 77px;
    right: 0;
  }
}
@media (max-width: 1018px) {
  .shari .shari__inner{
    justify-content: space-around;
    margin-left: 0;
    padding: 30px 0;
  }
  .shari .shari__inner{
    justify-content: flex-start;
  }
  .shari-item {
    border-radius: 20px;
    flex-basis: auto;
    width: 26%;
    min-width: 200px;
    margin: 10px;
    height: 386px;
  }
  .shari-item__price {
    border-radius: 0 0 20px 0;
    font-size: 18px;
    width: 100px;
  }
  .shari-item:hover .shari-item__price{
    border-radius: 0;
  }
  .shari__inner-title{
    margin: 20px 0;
  }
  .shari-item__image{
    border-radius: 0;
  }
  .img-shari {
    height: 284px;
  }
  .shari-item__content {
    padding: 0;
  }
  .shari-content__title{
    font-size: 20px;
    margin: 5px 0 9px;
  }
  .shari-content__size {
    margin: -7px 0 6px;
  }
  .about__text{
    padding: 10px;
    font-size: 22px;
    margin: 80px 0 auto ;
    &:before{
      width: 300px;
      height: 300px;
      right: 171px;
      top: -181px;
    }
  }
  .about-title{
    padding-bottom: 0;
    margin-top: 25px;
  }
  .about__inner{
    height: 560px;
    min-height: 0;
  }
  .about-social{
    justify-content: center;
    a{
      margin: 20px 80px;
    }
  }
}
@media (max-width: 900px) {
  .header-top {
    padding: 0;
  }
  .main-slide__inner {
    height: 250px;
  }
  .content-bg {
    .content-img {
      height: 250px;
      z-index: -1;
    }

    .content-mask {
      height: 250px;
      z-index: -1;
    }
  }
  .content-title {
    font-size: 50px;

    span {
      font-size: 30px;
    }
  }
  .sale {
    padding: 30px 0 70px;
  }
  .title {
    font-size: 25px;
  }
  .add-sale__item {
    margin: 10px 30px;
  }
  .add-sale__item {
    height: 300px;
  }
  .add-sale__item img {
    height: 250px;
  }
  .shari .shari__inner {
    justify-content: center;
    padding: 10px 0;
  }
  .shari-item {
    width: 30%;
    height: 337px;
    min-width: 180px;
  }
  .shari-content__title {
    font-size: 17px;
    margin: 5px 0 9px;
  }
  .shari-content__size {
    margin: -8px 0 3px;
    font-size: 14px;
  }
  .shari-content__text {
    font-size: 13px;
  }
  .img-shari {
    height: 244px;
  }
  .breadcrumbs .breadcrumbs-list__title, .breadcrumbs h1, .breadcrumbs h2, .breadcrumbs h3, .breadcrumbs h4, .breadcrumbs h5, .breadcrumbs h6 {
    margin-top: 7px;
  }
  .breadcrumbs {
    min-height: 91px;
  }
  .breadcrumbs__inner {
    padding: 15px 0;
  }
  .shari__inner-title {
    padding: 5px 0;
  }
  .info-adg__title{
    margin-bottom: 15px;
  }
  .info-adg__text{
    font-size: 22px;
    margin-bottom: 15px;
  }
  .info-adg__item{
    padding: 20px;
  }
  .info-but:before {
    width: 70px;
    height: 70px;
    right: 25px;
    top: -76px;
    left: auto;
  }
  .info-adg__text{
    font-size: 15px;
  }
  .info-adg__text span, .info-adg__text p{
    margin: 0 auto;
  }
  .about-ads .info-adg__item {
    padding: 0 10px 20px;
  }

  .shari-case__box{
    font-size: 21px;
  }
  .gallery__inner{
    justify-content: center;
  }
  .gallery-item {
    width: 49%;
  }
  .shari-case__box{
    li{
      margin: 0;
    }
  }
  .mob-menu .mob-list {
    top: 57px;
    right: 0px;
  }
}
@media (max-width: 800px) {

  .footer .footer-dost,
  .footer .footer-tel {

    font-size: 15px;
  }
  .about-social{
    a{
      width: 140px;
      height: 140px;
      border-width: 1px;
      &:before{
        top: 50%;
        transform: translate(-50%, -50%);
      }
      span{
        display: none;
      }
    }
    .icon-vk:before {
      transform: translate(-56%, -46%);
    }
    .icon-paper-plane,
    .icon-whatsapp,
    .icon-vk,
    .icon-instagram{
      &:hover{
        transition: all .6s;
        border: 70px solid #fbfbfb;
      }
    }
  }
  .about-tel{
    font-size: 25px;
  }
}
@media (max-width: 750px) {
  .shari-case__box.box-mini {
    font-size: 18px;
    .shari-case__box-size,
    .shari-case__box-price,
    .shari-case__box-color {
      font-size: 19px;
    }
  }
}
@media (max-width: 720px) {
  .main-slide .container-fluid {
    padding: 0;
  }
  .content-list {
    font-size: 15px;
  }
  .sale-title__link {
    display: none;
  }
  .sale-title__link-text {
    display: inline-block;
  }
  .sale {
    padding: 20px 0 50px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    span {
      font-size: 15px;
    }
  }
  .social-inst__item-title {
    display: table;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    -webkit-background-clip: text;
    margin: 0 auto;
    -webkit-text-fill-color: transparent;
  }
  .social-inst__item .img-inst {
    display: none;
  }
  .social-inst {
    padding: 40px 0;
  }
  .social-inst__item-text {
    margin: 10px 0 20px;
  }
  .social-inst__item {
    padding-top: 0
  }
  .footer .footer-dost,
  .footer .footer-tel {
    display: none;
  }
  .footer-social{
    a{
      width: 35px;
      height: 35px;
      &:before{
        font-size: 19px;
      }
    }
  }
  .shari .shari__inner{
    justify-content: center;
  }
  .info-ask__text {
    font-size: 15px;
  }
  .info-adg__title{
    font-size: 23px;
  }
  .info-adg__text {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .info-title.title__down-up{
    padding: 0;
  }
  .about__inner{
    height: 500px;
  }
  .about__text{
    margin: 0;
    height: fit-content;
    &:before{
      display: none;
    }
  }
  .add-sale__item {
    animation-duration: .2s;
    animation-name: none;
  }
}
@media (max-width: 650px) {
  .about-social a {
    margin: 20px 36px;
  }
  .shari-case {
    width: 44%;
    max-width: none;
  }
  .shari-case__box {
    line-height: 1.3;
    font-size: 17px;
  }
  .shari-case__box-price,
  .shari-case__box-color {
    font-size: 17px;
  }
  .gallery-item {
    height: 330px;
  }
  .info-ask{
    padding-top: 30px;
  }
  .shari-case__box.box-mini {
    font-size: 17px;
    .shari-case__box-size,
    .shari-case__box-price,
    .shari-case__box-color {
      font-size: 17px;
    }
  }
  .example-text{
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .header-log {
    font-size: 30px;
  }
  .mob-menu .mob-list {
    top: 51px;
  }
  .main-slide__inner {
    height: 130px;
  }
  .content-bg {
    .content-img {
      height: 130px;
    }

    .content-mask {
      height: 130px;
    }
  }
  .content-title {
    font-size: 30px;
    letter-spacing: -1px;
    padding-top: 10px;

    span {
      font-size: 17px;
    }
  }
  .content-list {
    padding-top: 27px;
    font-size: 14px;
  }
  .gallery-item {
    width: 48%;
    height: 270px;
  }
  .sale {
    padding: 20px 0 30px;
  }
  .add-sale {
    padding: 30px 0;
  }
  .img-mask a {
    padding: 10px 20px;
  }
  .breadcrumbs .breadcrumbs-list__title, .breadcrumbs h1, .breadcrumbs h2, .breadcrumbs h3, .breadcrumbs h4, .breadcrumbs h5, .breadcrumbs h6 {
    font-size: 22px;
  }
  .info-ask__title {
    font-size: 19px;
    p {
      width: 304px;
    }

    span {
      top: -5px;
    }
  }
  .shari-item {
    width: 44%;
    min-width: 44%;
  }
  .about__text {
    font-size: 18px;

    li {
      margin: 10px 0;
    }
  }
  .about-title {
    font-size: 29px;
  }
  .about-social {
    margin-top: -90px;
    padding: 0 0 20px;
    a {
      width: 70px;
      height: 70px;
      overflow: hidden;
      margin: 5px;
      &:before {
        top: 5%;
      }
    }
    .icon-vk,
    .icon-whatsapp,
    .icon-paper-plane,
    .icon-instagram {
      &:before {
        width: 40px;
        height: 40px;
      }
      &:hover {
        border: 1px solid #00000078;
      }
    }
  }
  .info-adg__text {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .about-tel {
    p {
      display: none;
    }
  }
  .shari-inner__two {
    justify-content: space-around;
  }
  .shari-case {
    margin: 14px 5px;
    width: 45%;
  }
  .shari-case__img {
    padding-bottom: 140%;
  }
  .info-ask__title span {
    display: none;
  }
  .breadcrumbs-list__title .icon-info {
    left: 240px;
    top: 7px;
  }
  .info-but {
    padding: 10px 0;
  }

}
@media (max-width: 500px) {
  .social-inst__item-text{
    font-size: 16px;
  }
  .mob-menu .mob-list .mob-list__link.active a{
    width: 120px;
  }
  .content-list {
    font-size: 14px;
  }
  .about-social {
    padding: 75px 0 40px;
  }
  .example-text{
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .main-slide__inner {
    height: 110px;
  }
  .content-bg {
    .content-img {
      height: 110px;
    }

    .content-mask {
      height: 110px;
    }
  }
  .content-list {
    padding-top: 15px;
    font-size: 10px;
  }
  .gallery-item{
    height: 230px;
  }
}
@media (max-width: 430px) {
  .shari-case__box.box-mini {
    font-size: 16px;
    .shari-case__box-size,
    .shari-case__box-price,
    .shari-case__box-color {
      font-size: 16px;
      padding-bottom: 2px;
    }
  }
}
@media (max-width: 400px) {
  .shari-case__box.box-mini {
    font-size: 14px;
    .shari-case__box-size,
    .shari-case__box-price,
    .shari-case__box-color {
      font-size: 15px;
    }
  }
}
@media (max-width: 380px) {
  .about-social{
    a{
      width: 65px;
      height: 65px;
      &:before{
        top: -1%;
        left: 50.7%;
      }
    }
    .icon-paper-plane,
    .icon-vk,
    .icon-whatsapp{
      &:before{
        left: 51%;
        top: -1px;
      }
    }
  }
  .example-text {
    font-size: 15px;
    font-weight: 400;
  }
  .shari-case__box-price.mini-size{
    font-size: 16px;
  }
}
@media (min-width: 1101px) {
  .mob-menu__button{
    display: block !important;
  }
}