@import "vars";
@import "global";
@import "fonts";

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  box-shadow: 1px 1px 12px 0px rgba(145, 145, 145, 0.75);
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-out;
  &.done{
    opacity: 0;
    visibility: hidden;
  }
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    border-top: 2px solid #fb0000;
    animation: .7s spin infinite linear;
  }
  img{
    position: absolute;
    border-radius: 55%;
    width: 92px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  @keyframes spin {
    from{
      transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
}
.header-up{
  background: url(../images/content/snou.jpg) repeat;
  background-color: #474747;
  color: #fff;
  padding: 0 10px;
  height: 40px;
  font-family: 'Josefin Sans', sans-serif;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.up-delivery{
  font-weight: 600;
}
.up-social{
  margin-left: 20px;
  cursor: default;
}
//up end
//start header
.header-page{
  .container-fluid{
    padding: 0 10px 0;
  }
}
.header-top{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
}
.header-border{
  border-bottom: 1px solid #020202;
}
.header-box__num{
  width: 390px;
}
.mobile-menu{
  display: none;
}

.up-mobile__text{
  display: none;
  color: #fff;
  transition: all .3s;
  &:hover{
    color: #f3f3f3b8;
  }
}
.header-numb{
  font-size: 25px;
  z-index: 10;
  align-items: center;
  color: #020202;
  transition: all .3s ease-out;
  position: relative;
  &:hover{
    transition: all .3s ease-out;
    transform: scale(1.1);
    padding-left: 10px;
    span{
      width: 164px;
      left: 82px;
    }
  }
  span{
    position: absolute;
    left: 72px;
    top: 1.6px;
    user-select: none;
    width: 123px;
    transition: all .3s ease-out;
  }
}
.header-log{
  color: #020202;
  font-weight: 700;
  user-select: none;
  z-index: 10;
  font-size: 60px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Cinzel', serif;
}
.header-social{
  z-index: 10;
  user-select: none;
  height: 40px;
  li{
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: all .4s;
  }
  a{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before{
      transition: all .5s ease-out;
      font-size: 21px;
      color: #fff;
      position: absolute;
    }

  }
  .icon-instagram{
    &:after{
      content: url("../images/content/instagram.svg");
      width: 20px;
      transition: all .3s ease-out;
      opacity: 0;
      position: absolute;
      top: 10px;
    }
    &:hover{
      background-color: #fff;
      &:before{
        opacity: 0;
      }
      &:after{
        opacity: 1;
      }
    }
  }
  .icon-vk{
    &:after{
      content: url("../images/content/vk.svg");
      width: 21px;
      transition: all .3s ease-out;
      opacity: 0;
      position: absolute;
      top: 11px;
    }
    &:hover{
      background-color: #fff;
      &:before{
        opacity: 0;
      }
      &:after{
        opacity: 1;
      }
    }
  }
  .icon-whatsapp{
    &:after{
      content: url("../images/content/whatsapp.svg");
      width: 21px;
      transition: all .3s ease-out;
      opacity: 0;
      position: absolute;
      top: 11px;
    }
    &:hover{
      background-color: #fff;
      &:before{
        opacity: 0;
      }
      &:after{
        opacity: 1;
      }
    }
  }
  .icon-paper-plane{
    margin-left: -6px;
    &:after{
      content: "\f1d8";
      color: #009FFD;
      transition: all .3s ease-out;
      opacity: 0;
      position: absolute;
      font-size: 21px;
    }
    &:hover{
      background-color: #fff;
      &:before{
        opacity: 0;
      }
      &:after{
        opacity: 1;
      }
    }
  }
}
.mob-menu{
  display: none;
  .mob-menu__button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    outline: none;
    span,span:after,span:before{
      position: absolute;
      width: 20px;
      top: 50%; margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      height: 2px;
      background: #222;
    }
    span:after{
      transform: translateY(-5px);
      content: '';
      transition: all .3s;
    }
    span:before{
      transform: translateY(5px);
      content: '';
      transition: all .3s;
    }
  }
  .mob-list{
    position: absolute;
    right: -10px;
    opacity: 0;
    top: 57px;
    visibility: hidden;
    height: 0;
    transition: all .3s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    li:last-child{
      a{
        border-radius: 0 0 0 11px;
      }
    }
    a{
      color: #020202;
      width: 200px;
      text-align: center;
      transition: all .3s;
      padding: 0;
      &:hover{
        color: #F3F3F3;
        background: $link ;
      }
    }
    .mob-list__link{
      position: absolute;
      right: 201px;
      top: 0;
      background: #fff;
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
      z-index: -1;
      border-radius: 0 0 0 13px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
      li:last-child{
        a{
          border-radius: 0 0 0 11px;
        }
      }
      a{
        width: 0;
        font-size: 0;
      }
    }
    .mob-link.active{
      color: #F3F3F3;
      background: $link;
    }
    .mob-list__link.active{
      visibility: visible;
      opacity: 1;
      z-index: 1;
      a{
        font-size: 16px;
        width: 200px;
      }
    }
  }
}
.mob-menu.active{
  .mob-list{
    opacity: 1;
    visibility: visible;
    height: 168px;
    background: #fff;
    border-radius: 0 0 0 13px;
    a{
      padding: 10px 0;
    }
  }
  .mob-menu__button{
    span{
      height: 0;
      &:after{
        transform: rotate(45deg);
      }
      &:before{
        transform: rotate(-45deg);
      }
    }
  }
}
.menu{
  padding: 9px 0 0;
}
.menu-list{
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    margin: 0 10px;
    z-index: 10;
  }
  a{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .5s ease-out;
    position: relative;
    overflow: hidden;
    color: #020202;
    &:before{
      content: '';
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      background: #020202;
      transform: translateX(-50%);
      position: absolute;
      transition: all .3s ease-out;
    }
    &:hover{
      &:before{
        width: 100%;
      }
    }
  }
}
.testy{
  position: relative;
  &:hover{
    .st-list{
      opacity: 1;
      visibility: visible;
    }
  }
}
.st-list{
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, 17%);
  z-index: 10;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #02020291;
  border-radius: 8px;
  &:before{
    content: '';
    position: absolute;
    border: 16px solid transparent;
    border-bottom: 7px solid #03020275;
    width: 20px;
    height: 20px;
    top: -23px;
    right: 73px;
  }
  li:first-child{
    a{
      border-radius: 8px 8px 0 0;
    }
  }
  li:last-child{
    a{
      border-radius: 0 0 8px 8px;
    }
  }
  li{
    display: flex;
    margin: 0;
    transition: all .3s;
    width: 180px;

    &:hover{
      a{
        color: #fff;
        background: $link;
      }
    }
  }
  a{
    color: #000;
    padding: 10px 30px;
    font-size: 17px ;
    position: relative;
    transition: all .3s ease-out;
    width: 100%;
    &:before{
      display: none;
    }
  }
}
//end header
//start main-content

.main-slide__inner{
  height: 500px;
  overflow: hidden;
}
.content-info{
  position: relative;
  .content-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .content-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    z-index: 3;
  }
}
.content-list{
  position: absolute;
  right: 18px;
  top: 117px;
  text-align: right;
  z-index: 5;
  color: #ffffffde;
  text-transform: uppercase;
  font-size: 30px;
  user-select: none;
  cursor: default;
}
.content-title{
  position: absolute;
  font-size: 110px;
  font-weight: 700;
  letter-spacing: -6px;
  top: 273px;
  line-height: 1.1;
  left: 20px;
  z-index: 5;
  color: #fff;
  cursor: default;
  user-select: none;
  span{
    display: block;
    font-size: 60px;
    color: $link;
    letter-spacing: normal;
  }
}
//end main-content
//start sale
.sale{
  padding: 50px 0 100px;
  background: #fff;
}
.sale-title__link{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -2px;
  right: 6px;
}
.sale-title__link-text{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.title.title-600{
  span{
    max-width: 600px;
  }
}
.title{
  font-size: 36px ;
  text-transform: uppercase;
  color: #020202;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  span{
    text-transform: none;
    display: block;
    max-width: 800px;
    margin: 5px auto;
    font-size: 18px;
    color: $text;
    position: relative;
  }
}
.gallery__inner{
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(6, 16.5%);
  grid-template-rows: repeat(2, 300px);
  grid-gap:10px;
  img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.gallery-item1{
  grid-area: 1/1/1/1;
}
.gallery-item2{
  grid-area: 1/3/1/3;
}
.gallery-item3{
  grid-area: 1/4/1/4;
}
.gallery-item4{
  grid-area: 1/5/span 2/7;
}
.gallery-item5{
  grid-area: 2/1/2/1;
}
.gallery-item6{
  grid-area: 2/2/2/2;
}
.gallery-item7{
  grid-area: 2/3/2/3;
}
.gallery-item8{
  grid-area: 1/4/1/4;
}
.gallery-item{
  position: relative;
  &:hover{
    .img-mask{
      visibility: visible;
      opacity: 1;
    }
  }
}
.img-mask{
  transition: all .3s ease-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-weight: 500;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  z-index: 3;
  a{
    position: absolute;
    @include lt;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #fff;
    padding: 20px 30px;
    transition: all .3s ease-out;
    &:hover{
      background: #fff;
      color: #4d4744;
    }
  }
}
//end sale
//start add-sale
.add-sale{
  background-color: #fbfbfb;
  padding: 50px 0;
}
.add-sale__items{
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
.add-sale__item{
  width: 280px;
  text-align: center;
  height: 350px;
  background: #fff;
  transition: all .3s ease-out;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  visibility: visible;
  animation-duration: 1.2s;
  animation-name: fadeInUp;
  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.88);
    transform: translateY(-20px);
  }
  img{
    @include bg;
    height: 300px;
    width: 100%;
    border-radius: 10px 10px 0 0 ;
  }
  .add-sale__title{
    padding: 10px 0;
    color: #000;
   font-size: 20px;
    font-weight: 500;
  }
}
//end  add-sale
//start footer
.footer{
  padding: 30px 0;
  background: #020202;
}
.footer{
  position: relative;
  .footer-tel{
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 25px ;
    a{
      color: #616060;
      transition: all .3s ease-out;
      margin-left: 15px;
      align-items: center;
      &:hover{
        color: #bfbfbf;
      }
    }
  }
  .footer-dost{
    position: absolute;
    bottom: 3px;
    left: -6px;
    font-size: 25px ;
    a{
      color: #616060;
      transition: all .3s ease-out;
      margin-left: 15px;
      align-items: center;
      &:hover{
        color: #bfbfbf;
      }
    }
  }
}
.footer-list{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  a{
    margin: 0 10px;
    font-size: 20px;
    color: #bfbfbf;
    transition: all .3s ease-out;
    position: relative;
    overflow: hidden;
    &:before{
      content: '';
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      background-color: #fff;
      transition: all .3s ease-out;
    }
    &:hover{
      color: #fff;
      &:before{
        width: 100%;
      }
    }
  }
}
.footer-item{
  text-align: center;
  .header-log{
    color: #fff;
    margin: 0 auto;
  }
}
.footer-social{
  li{
    display: inline-block;
  }
  a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
    transition: all .3s ease-out;
    &:before{
      position: absolute;
      color: #fff;
      @include lt;
      font-size: 25px;
      transition: all .3s ease-out;
    }
    &:hover{
      background: #fff;
      &:before{
        color: #000;
      }
    }
  }
  .icon-whatsapp{
    background: #00C306;
  }
  .icon-paper-plane{
    background: #009FFD;
      &:before{
         left: 45%;
      }
  }
  .icon-vk{
    background: #1976D2;
  }
  .icon-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
}
//end footer
//start
.breadcrumbs {
  border-bottom: 1px solid #ececec;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 151px;
  &__inner {
    width: 1030px;
    overflow: hidden;
    padding: 50px 0 40px;
  }
  &-list {
    li {
      display: inline-block;
      &:last-child {
        a, span {
          color: rgba(2, 2, 2, 0.41);
          opacity: .6;
          cursor: default;
        }
      }
    }
    a, span {
      color: #020202;
      font-size: 15px;
    }
    li + li {
      padding-left: 10px;
      &:before {
        content: '/';
        color: #020202;
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }
  .breadcrumbs-list__title,h1,h2,h3,h4,h5,h6{
    color: #020202;
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
    p{
      margin-top: -5px;
    }
  }
}
//start шарики
.shari{
  background-color: #fbfbfb;
  padding: 20px 0 50px;
}
.shari-inner__two{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.shari-case{
  max-width: 280px;
  width: 280px;
  margin: 30px 0 0 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  transition: all .3s ease-in-out;
  &:hover{
    box-shadow: 0px 0px 5px 0px rgba(221,15,15,  .62);
    transform: scale(1.05);
  }
}
.shari-case__img{
  position: relative;
  width: 100%;
  padding-bottom: 140%;
  border-radius: 24px 24px 0 0;
  .shari-case__img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include bg;
  }
}
.shari-case__box{
  border-top: 1px solid #f3f3f3;
  padding: 5px 5px;
  border-radius: 0 0 24px 24px;
  font-size: 25px;
  color: #020202;
  background: #fff;
  text-align: center;
  li{
    margin: 5px 0;
  }
}
.shari-case__img.komp-item{
  border-radius: 24px;
}
.shari-case__box-size,
.shari-case__box-color,
.shari-case__box-price,
.shari-case__box-title{
  width: 100%;
  font-weight: 300;
}
.shari-case__box-size{
  color: rgba(2, 2, 2, 0.41);
  font-size: 16px;
}
.example{
  padding: 30px 0;
}
.example-inner{
  text-align: center;
}
.example-text{
  font-size: 24px;
  font-weight: 500;
  color: #020202;
  a{
    color: $link
  }
}
.shari-case__box-title{
  font-weight: 500;
}
.shari-case__box-price{
  color: $link;
  font-size: 20px;
}
.shari-case__box-color{
  font-size: 20px;
}
//end footer
.info{
  background: #fbfbfb;
  padding: 50px 0 70px;
}
.about__inner{
  position: relative;
  min-height: 700px;
}
.about__text{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  position: absolute;
  max-width: 650px;
  font-size: 24px;
  right: 227px;
  top: 53px;
  padding: 60px;
  background: #fff;
  border-radius: 20px;
  &:before{
    content: '';
    position: absolute;
    background: url(../images/content/hel.png);
    @include bg;
    width: 800px;
    height: 500px;
    right: 502px;
    top: 2px;
    z-index: 5;
  }
  li{
    margin: 20px;
    span{
      font-weight: 700;
      margin-left: 5px;
    }
  }
}
.about-title{
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 36px;
  margin: 0;
}
.about-tel{
  display: flex;
  justify-content: center;
  padding: 0  0 40px;
  font-size: 30px;
  align-items: center;
  a{
    margin-left: 10px;
    font-weight: 500;
    color: #020202;
  }
}
.about-social{
  display: flex;
  justify-content: space-around;
  padding: 100px 0 80px;
  flex-wrap: wrap;
  a{
    margin: 30px 50px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 5px solid #3e3e4036;
    border-radius: 50%;
    z-index: 5;
    position: relative;
    transition: all .3s;
    &:before{
      position: absolute;
      color: #000;
      left: 50%;
      transform: translate(-50%,27%);
      font-size: 78px;
    }
    span{
      transition: all .3s;
      z-index: 4;
      position: absolute;
      font-size: 24px;
      color: #3E3E40;
      @include lt;
      top: 78%;
    }
  }
  .icon-instagram{
    span{
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:before{
      content: url("../images/content/instagram.svg");
      width: 100px;
      height: 100px;
    }
    &:hover{
      border: 5px solid #7a23bbde;
    }
  }
  .icon-whatsapp{
    span{
      color: #00C306;
    }
    &:before{
      content: url("../images/content/whatsapp.svg");
      width: 100px;
      height: 100px;
    }
    &:hover{
      border: 5px solid #00C306;
    }
  }
  .icon-vk{
    span{
      color: #1976D2;
    }
    &:before{
      content: url("../images/content/vk.svg");
      width: 100px;
      height: 100px;
      transform: translate(-50%,33%);
    }
    &:hover{
      border: 5px solid #1976D2;
    }
  }
  .icon-paper-plane{
    span{
      color: #009FFD;
    }
    &:before{
      content: url("../images/content/telegram.svg");
      width: 100px;
      height: 100px;
    }
    &:hover{
      border: 5px solid #009FFD;
    }
  }
}
.about-ads{
  span{
    margin: 20px auto;
  }
  .info-adg__item{
    max-width: 100%;
    padding: 0 40px 20px;
  }
}
.breadcrumbs-list__title{
  position: relative;
  .icon-info{
    position: absolute;
    left: 326px;
    top: 8px;
  }
}
.info-ask__item{
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  margin: 0 auto 30px;
  text-align: center;
}
.info-ask__title{
  font-size: 25px;
  font-weight: 700;
  border-radius: 17px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  padding: 14px 30px;
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
  p{
    position: relative;
    width: 434px;
  }
  span{
    position: absolute;
    right: -24px;
    font-size: 33px;
    top: -1px;
  }
}
.info-ask__text{
  color: #0000006b;
  font-size: 22px;
  transition: all .3s;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 17px 17px;
  padding: 0 30px 10px;
  cursor: default;
  &:first-child{
    padding: 4px 30px 10px;
  }
  span{
    color: #000000c7;
  }
}
.info-adg__item{
  max-width: 1300px;
  padding: 50px 40px 20px;
}
.info-adg__title{
  text-transform: uppercase;
  color: #e10b0b;
  cursor: default;
  font-size: 30px;
  margin-bottom: 25px;
}
.info-adg__text{
  cursor: default;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  color: #474747;
  span,p{
    color: #020202;
    font-weight: 500;
    display: inline-block;
  }
  li{
    &:first-child{
      margin-top: 20px;
    }
  }
}
.info-drop{
  display: none;
  border-radius: 17px;
}
.ask-links{
  color: $link;
  transition: all .3s ease-out;
  margin-left: 7px;
  &:hover{
    color: rgba(231, 18, 18, 0.8);
  }
}
.info-but{
  padding: 50px 0;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-image: url(../images/content/guar.png);
    width: 500px;
    height: 500px;
    @include bg;
    right: 0;
    top: 97px;
  }
}
.adg-text__max{
    max-width: 1700px;
}
.info-title.title__down-up{
  padding: 50px 0 0;
}
.info-title{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
  padding-bottom: 70px;
  a{
    font-size: 20px ;
    display: inline-block;
    color: #020202;
    width: 200px;
    height: 40px;
    padding: 5px 0;
    transition: all .3s;
    border-radius: 20px;
    z-index: 3;
    &:hover{
      //font-size: 22px;
      transform: scale(1.1);
      border: 1px solid rgba(0, 0, 0, 0.64);
    }
  }
}
.shari__inner-title{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  padding: 10px 0;
  font-size: 30px;
  font-weight: 700;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-radius: 20px;box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.social-inst{
  padding: 80px 0;
}
.social-inst__inner{
  display: flex;
  justify-content: center;
}
.social-inst__item{
  position: relative;
  margin-left: -220px;
  .img-inst{
    position: absolute;
    content: '';
    background-image: url(../images/content/inst-soc.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 270px;
    right: -300px;
  }
}
.social-inst__item-title{
  font-size: 24px ;
  font-weight: 600;
  cursor: default;
}
.social-inst__item-text{
  max-width: 600px;
  cursor: default;
  font-size: 22px;
  color: #474747;
  margin: 40px 0;
  a{
    color: $link;
  }
}
.social-inst__link{
  color: #ffffff;
  background-color: $link;
  border-radius: 30px;
  font-weight: 700;
  padding: 15px 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-out;
  &:hover{
    background-color: rgba(238, 80, 69, 0.83);
  }
}
.btn__to-top{
  position: fixed;
  display: none;
  left: 26px;
  bottom: 50px;
  width: 50px;
  z-index: 200;
  height: 50px;
  border-radius: 50%;
  background-color: $link;
  border:none;
  outline: none;
  &:before{
    content: "\ea3a";
    color: #fff;
    font-family: 'icomoon';
    font-size: 28px;
    position: absolute;
    top: 6px;
    left: 11px;
  }
}
.fixed-bar{
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 50px;
  z-index: 100;
  height: 50px;
  border-radius: 30px;
  border: none;
  outline: none;
  transition: all .3s ease-out;
  overflow: hidden;
  .icon-whatsapp{
    background: #00C306;
  }
  .icon-paper-plane{
    background: #009FFD;
  }
  .icon-vk{
    background: #1976D2;
  }
  .icon-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
  .fixed-button{
    width: 51px;
    height: 50px;
    border-radius: 30px;
    background: $link;
    position: absolute;
    z-index: 101;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: all .3s ease-out;
    &:before{
      position: absolute;
      content: '\f0e6';
      color: #fff;
      font-size: 30px;
      font-family: 'icomoon';
      @include lt;
    }
  }
  .fixed-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 215px;
    border-radius: 30px;
    text-align: center;
    z-index: 99;
    li{
      position: relative;
      &:first-child{
        margin-top: 10px;
      }
    }
    a{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      &:before{
        position: absolute;
        color: #fff;
        top: 44%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}
.fixed-bar.on{
  height: 241px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  .fixed-button{
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #fff;
    &:before{
      content: '\f00d';
      color: #474747;
      font-size: 28px;
      top: 48%;;
    }
  }
  .fixed-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 260px;
    border-radius: 30px;
    text-align: center;
    z-index: 99;
    li{
      position: relative;
      &:first-child{
        margin-top: 10px;
      }
    }
    a{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &:hover{
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
      &:before{
        transition: all .3s;
        position: absolute;
        color: #fff;
        font-size: 19px;
        top: 44%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .icon-whatsapp:before{
      font-size: 23px;
    }
  }
}




@import "media";

